<div class="accessoriesDes">
    <div class="mainContainer">
        <div class="inner">
            <div class="block darkText">
                <div class="container">
                    <h2 tabindex="0">Surface 精选配件</h2>
                    <p>Surface 强大的灵活性和卓越性能，为您带来无尽可能——搭配 Surface 专属配件，更好地发挥 Surface 的潜能。</p>
                    <a href="#" class="more">选购
                        Surface 配件 &gt;</a>
                    <img src="https://imgazure.microsoftstore.com.cn/medias/SurfaceCat2018V2Media-Acc01?context=bWFzdGVyfHJvb3R8MTkwMXxpbWFnZS9wbmd8aDk1L2g4My8xMDA0OTE1MTE3MjYzOC5wbmd8NTYzZWExZWYwNmY3YWIzNGEwNmRmNjRhZTIzM2E3Yzk0MWQzMzI5ZjRkYWNlYzczZGI0NzljZDEyMmNmOTk0Ng"
                        alt="">
                </div>
            </div>
            <div class="block left">
                <img
                    src="https://imgazure.microsoftstore.com.cn/medias/SurfaceCat2018V2Media-Acc02-pc?context=bWFzdGVyfHJvb3R8MTAyNzc2fGltYWdlL2pwZWd8aDc4L2hkYS8xMDA0OTE1MTIwNTQwNi5qcGd8ZWJjYTE0MzgwMTNlZDFmYjU3MThlZjUwMTk3YzVhMTg0Y2U3YmNmZDIxMWJlMGEzZTg5ZTI5OTBmOTI4ZDk4NQ">
            </div>
            <div class="block right">
                <img
                    src="https://imgazure.microsoftstore.com.cn/medias/SurfaceCat2018V2Media-Acc03-pc?context=bWFzdGVyfHJvb3R8NzE5MTF8aW1hZ2UvanBlZ3xoNjAvaDYyLzEwMDQ5MTUxMjM4MTc0LmpwZ3xkZjQ0ZWViMjIzNTcyNDU3N2VlOGQ3ZjJlMGNlY2Y0NDQyYzEwMWYyNjM5YmNmNDFjNDIyMTNjZWEzNWFkNTBi">
            </div>
            <div class="block bottom">
                <img
                    src="https://imgazure.microsoftstore.com.cn/medias/SurfaceCat2018V2Media-Acc04-pc?context=bWFzdGVyfHJvb3R8MTE1ODl8aW1hZ2UvanBlZ3xoNjEvaGZhLzEwMDQ5MTUxMjcwOTQyLmpwZ3wwMTdjM2NmNTU2OTM0YWI4NTM0MDYxZTQxM2QxZDdiNTlmN2M1NmU5OWU2YTliZjk3YjczMDg2MDFjNzY4ZWRj">
            </div>
        </div>
    </div>
</div>