<!-- 轮播图 -->
@@include("./_banner.htm")

<!-- 导航列表 -->
<div class="homeNav" data-legacy-main="pages/surfaceCategory/index">
    <div class="mainContainer">
        <div class="surfaceNav">
            <ul>
                <li>
                    <a href="#" title="全新 Surface Studio 2">
                        全新 Surface Studio 2</a>
                </li>
                <li>
                    <a href="#" title="全新 Surface Go">
                        全新 Surface Go</a>
                </li>
                <li>
                    <a href="#" title="全新 Surface Laptop 2">
                        全新 Surface Laptop 2</a>
                </li>
                <li>
                    <a href="#" title="全新 Surface Pro 6">
                        全新 Surface Pro 6</a>
                </li>
                <li>
                    <a href="#" title="Surface Book 2">
                        Surface Book 2</a>
                </li>
                <li>
                    <a href="#" title="认证翻新 Surface">
                        认证翻新 Surface</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- 系列产品介绍 -->
@@include("./_maincontent.htm")


<!-- 相关产品介绍 -->
@@include("./_more.htm")


<!-- 配件介绍  accessories -->
@@include("./_accessories.htm")


<!-- 系列的文字介绍 -->
@@include("./_text.htm")

