<div class="surfaceMain">
    <div class="mainContainer">
        <h2><span>更强大的笔记本电脑</span></h2>
        <div class="desc">要自由工作、要尽情创意，你需要一部强劲的新一代笔记本电脑，灵活多变，性能卓越，外形时尚。每一部 Surface，都是为您倾力打造的精心之作。</div>
        <ul class="surfaceMainList">
            <li>
                <div class="surfaceMainWrapper">
                    <a href="#" title="全新 Surface Go img" class="img">
                        <img src="https://imgazure.microsoftstore.com.cn/medias/SurfaceCat2018V2Media-Device01-PC?context=bWFzdGVyfHJvb3R8MzMwODh8aW1hZ2UvanBlZ3xoMTEvaDZjLzEwMTI0Mjg0MDY3ODcwLmpwZ3wyNmZhYTc2MjZjNjcyNTk2Y2NiNjI3ZDkyNDRjNWY2OWI2ZTc1YWNiOWU4NjU1ZGVhMGQ1OGU2YTQ5ZGY5ODZi"
                            alt="全新 Surface Go">
                    </a>
                    <h3>全新 Surface Go</h3>
                    <p>全新 10 英寸 Surface Go 是完成日常任务的理想伴侣，兼具笔记本电脑的性能和平板电脑的便携性，续航最长可达 9 小时<sup>1</sup>，且拥有令人惊叹的触摸屏。</p>
                    <a href="#" title="立即购买 全新 Surface Go" class="buy">立即购买
                        &gt;</a>
                </div>
            </li>
            <li>
                <div class="surfaceMainWrapper">
                    <a href="#" title="全新 Surface Laptop 2 img" class="img">
                        <img src="https://imgazure.microsoftstore.com.cn/medias/SurfaceCat2018V2Media-Device02-PC?context=bWFzdGVyfHJvb3R8NjUxODl8aW1hZ2UvanBlZ3xoODIvaDFhLzEwMTI0Mjg0NDYxMDg2LmpwZ3xmNDNjNjAwODRkN2RjMDA1MTg4YzFjYjFhNjRiOTNmNDA1OTUyMTNhYmVhMzgxMjlmM2EzZDJlODBlYjU4Mjhi"
                            alt="全新 Surface Laptop 2">
                    </a>
                    <h3>全新 Surface Laptop 2</h3>
                    <p>全新 Surface Laptop 2，用色彩彰显风采。美观轻巧，更具提升的速度和性能，轻松装入包中，让每一天都更高效。五色可选<sup>2</sup>，包括全新典雅黑和灰粉金。</p>
                    <a href="#" title="立即购买 全新 Surface Laptop 2" class="buy">立即购买
                        &gt;</a>
                </div>
            </li>
            <li>
                <div class="surfaceMainWrapper">
                    <a href="#" title="全新 Surface Pro 6 img" class="img">
                        <img src="https://imgazure.microsoftstore.com.cn/medias/SurfaceCat2018V2Media-Device03-PC?context=bWFzdGVyfHJvb3R8ODA1NTh8aW1hZ2UvanBlZ3xoNjkvaDAwLzEwMTI0Mjg0NjkwNDYyLmpwZ3w3MDJjOTI4MzZlNTI0OGQ4ZjQ5NjQxNjI5OWRlYTQ2NmY4YmZiNjFjNGZiNTg3ZjIxZjBiNTU3ZjI0ZDVkNzNh"
                            alt="全新 Surface Pro 6">
                    </a>
                    <h3>全新 Surface Pro 6</h3>
                    <p>无需插电，轻装上阵。全新 Surface Pro 6 搭载新版第 8 代英特尔酷睿处理器，运行速度比以往更快，让你的一天更高效。全新典雅黑可供选择。</p>
                    <a href="#" title="立即购买 全新 Surface Pro 6" class="buy">立即购买
                        &gt;</a>
                </div>
            </li>
            <li>
                <div class="surfaceMainWrapper">
                    <a href="#" title="Surface Book 2 img" class="img">
                        <img
                            src="https://imgazure.microsoftstore.com.cn/medias/SurfaceCat2018V2Media-Device04-PC?context=bWFzdGVyfHJvb3R8MTMxOTg2fGltYWdlL2pwZWd8aGFjL2hlYi8xMDEyNDI4NTA1MDkxMC5qcGd8YjlhNzA3YzIwY2Q2ZjQzZmMxNDExMzk3NzlhYzVmYzFmMThlMDM0YzlhYmU2Njc4MmI2Mjg3Mzg5NDBjYzkwMg">
                    </a>
                    <h3>Surface Book 2</h3>
                    <p>可选第 8 代英特尔酷睿四核处理器及 NVIDIA GeForce GTX 1060 独立 GPU，充分发挥专业级软件的功能。现有 13.5 英寸及 15 英寸机型可选。</p>
                    <a href="#" title="立即购买 Surface Book 2" class="buy">立即购买
                        &gt;</a>
                </div>
            </li>
            <li class="fullsize">
                <div class="surfaceMainWrapper">
                    <h2>超越你对创意工作室的想象</h2>
                    <a href="#" title="全新 Surface Studio 2 img" class="img">
                        <img src="https://imgazure.microsoftstore.com.cn/medias/SurfaceCat2018V2Media-Device05-PC?context=bWFzdGVyfHJvb3R8Mjg3Mzk3fGltYWdlL2pwZWd8aDc5L2gwYS8xMDA0OTE1MTA3NDMzNC5qcGd8NzFiYzg2MGJmMjBkMzg0NWIwYmZlZTg5ZWU5OWI2MWFhM2UzODNiMGQ0YjNkMzAyMDhlNWIzMTBkZGZhMjdiYQ"
                            alt="全新 Surface Studio 2">
                    </a>
                    <h2>全新 Surface Studio 2</h2>
                    <p>让鲜活的色彩呈现、惊艳的图形显示和更快速的处理器为您的创意赋能。可调节的 28 英寸显示屏和直观化的工具，让您的创意源源不断。</p>
                    <a href="#" title="立即购买 全新 Surface Studio 2" class="buy">立即购买
                        &gt;</a>
                </div>
            </li>
        </ul>
    </div>
</div>