<!-- 系列介绍 -->
<div class="content">
    <div class="categoryIntroduce" data-legacy-main="common/categoryIntroduce/index">
        <div class="mainContainer">
            <h1>微软 Surface</h1>
            <p>为您带来更高生产力的设备——Surface，将重新定义您的工作与娱乐方式。微软Surface以其富有创意的科技，期待着以一种全新的方式改变您的生活，带来新的乐趣，助您成就更多。</p>
            <br>
            <ul>
                <li>
                    <a href="#">Surface
                        Go：</a>全新的 10 英寸 Surface Go 针对日常工作和娱乐而设计，为你提供了笔记本电脑的卓越性能、平板电脑的出色便携性、长时间电池续航、令人惊叹的触摸屏以及你熟悉的
                    Windows 和 Office 体验。无论是电子邮件、浏览网页，还是观看喜爱的电视节目来进行放松，Surface Go 始终伴你左右。Surface Go 内置高清摄像头及多种接口，其中包括强大的
                    USB-C 端口。更小、更轻的 Surface Go，你的全能搭档。
                </li>
                <br>
                <li>
                    <a href="#">Surface
                        Pro：</a>Surface Pro 是一款优秀的笔记本电脑，兼顾工作室和平板电脑的通用性。它拥有惊艳的高对比度、低炫光显示屏，最长可达 13.5 小时<sup>3</sup>
                    的电池续航时间，大内存，高速处理器，并且预装 Windows 10 操作系统，更有着时尚、纤薄、便携的外观。选择 Surface Pro，它能够与新 Surface 触控笔、Surface Dial
                    和 Office 默契协作，还提供完整的 Windows 体验，包括 3D 制作工具。
                </li>
                <br>
                <li>
                    <a href="#">Surface
                        Laptop：</a>一款与众不同的笔记本电脑，Surface Laptop
                    拥有优质的电源、出色的便携性以及精致的外观。它薄至14.47mm，轻至1.25kg，采用丰富的同色系色彩组合设计，更有典雅的 Alcantara 布艺键盘增光添彩。第 7
                    代英特尔酷睿处理器让它出色胜任多任务处理工作，13.5 英寸 PixelSense 显示屏为您呈现逼真的色彩。除支持 Surface 触控笔、屏幕触控、Surface Dial 和 Windows
                    Ink 外，Surface Laptop 还采用了 Microsoft 创新技术，包括 Windows Hello、Microsoft Office 和 Cortana 等。
                </li>
                <br>
                <li>
                    <a href="#">Surface
                        Book 2：</a>一部性能强劲的笔记本、功能强大的平板电脑和便携的工作室，满足您的工作和创作需求。Surface Book 2 配备英特尔双核/高速四核处理器，运行速度更快。全新
                    Surface Book 2 续航时间最长可达17小时<sup>4</sup>，性能较原来的 Surface Book 大幅提升。可高速运行专业级桌面软件，如 SOLIDWORKS、Autodesk
                    Revit 和 Adobe Premiere Pro。NVIDIA GeForce 独立 GPU 带来艳丽细腻的画质，让渲染更加迅速，畅爽应对高强度的游戏需求。强劲显卡性能令全新 Surface
                    Book 2 在 Surface 产品家族中备受瞩目。
                </li>
                <br>
                <li>
                    <a href="#">Surface
                        Studio：</a>获得一台优美、强大、拥有先进技术的一体机。Surface Studio 配备 28 英寸 PixelSense 触控显示屏，192 dpi
                    分辨率，以及几乎可以将屏幕至于任何角度的铰接系统，这是一台助力创想全过程的设计设备。Surface Studio 配备第 6 代英特尔酷睿 i5/i7 处理器，1TB/2TB 高速混合硬盘，4个
                    USB 3.0 端口（包括一个高功率端口），双麦克风，带杜比音效的 2.1 扬声器以及 Surface 触控笔、键盘和鼠标，您可以随心、超越。
                </li>
                <br>
                <li>
                    <a href="#">Surface
                        Dial：</a>作为您喜爱的 Surface 设备的好搭档，Surface Dial
                    是一款创新的独立滚轮，让您可以轻松、流畅地滚动和控制各种功能。从访问您收藏的快捷方式和音量控制，到使用您强大的绘图和图像编辑工具，Surface Dial
                    均能够帮助您找到比以往更多的途径展现更多创造力。
                </li>
                <br>
                <li>
                    <a href="#">Surface
                        Pro 6：</a>续航持久，轻装上阵。协作项目、优化演示文案、管理电子邮件，工作结束后播放电视节目。Surface Pro 6 搭载第 8
                    代英特尔酷睿处理器，运行速度比以往更快，无论是从公司到家里，还是从机场到路上，随时随地满足您的需求，为您的移动生活提供强大动力。Surface Pro 6 让您的一天更高效。
                </li>
                <br>
                <li>
                    <a href="#">Surface
                        Laptop 2：</a>具备丰富颜色的 Surface Laptop 2 简约优雅，时尚轻巧，搭载第 8 代英特尔酷睿处理器，更出色的运行速度和性能，丰富的同色系设计，为您增添个性风采。将
                    Surface Laptop 2 轻松装入您的随身包包，让您的每一天更便捷、更精彩、更高效。
                </li>
                <br>
                <li>
                    <a href="#">Surface
                        Studio 2：</a>尽情体验鲜活的色彩、惊艳的图形显示和更快速的处理器。当您根据需求调整 28
                    英寸显示屏，让您的创意源源不断，您可以选择桌面模式，也可以转换为工作室模式，辅以直观化的工具，激发您的想象力。
                </li>
            </ul>
            <br>
            <p>探索我们整个 <a href="#">Surface
                    系列</a>的设备和配件，包括<a href="#">人体工学键盘</a>和 <a href="#">Surface
                    鼠标</a>——发现 Surface 如何帮助您以全新的方式工作、休闲、设计和创作。如有产品相关问题，请联系我们的客服人员，我们将帮助您选择适合您的设备。</p>
            <br>
            <p>Surface 多系列产品现已加入<a href="#">微软教育优惠</a>。更多
                Surface 优惠可前往<a href="#">微软官方商城优惠信息</a>页面进行查看。加入微软官方商城邮件订阅计划，还有机会收到微软官方商城优惠代码。
            </p>
        </div>
    </div>

    <div class="note msPDPTemplate_004">
        <div class="mainContainer">
            <p style="font-size: 12px; color: #666666; line-height: 24px;">[1] Surface Go WiFi 版本地视频播放时间最长可达 9 小时，带 LTE
                增强版机型本地视频播放时间最长可达 8.5 小时。电池续航时间会因设置、使用及其他因素有显著差异。</p>
            <p style="font-size: 12px; color: #666666; line-height: 24px;">[2]
                可选颜色因销售渠道而有所差异。受图片拍摄光线、角度及个人显示器差异等因素影响，您看到的图片效果与实物可能有细微色差，请以实物为准。</p>
            <p style="font-size: 12px; color: #666666; line-height: 24px;">[3] 本地视频播放时间最长可达 13.5
                小时。电池续航时间会因设置、使用及其他因素有显著差异。</p>
            <p style="font-size: 12px; color: #666666; line-height: 24px;">[4] 本地视频播放时间最长可达 17
                小时。电池续航时间会因设置、使用及其他因素有显著差异。</p>

        </div>
    </div>
</div>