$color-white: #fff;
$color-grayd:#ddd;
$color-gray6:#666;
$color-gray9:#999;
$color-loveblue: #22e;
$color-whitegray: #eeeeee;

$color-gray: #6c757d;
$color-gray-dark: #343a40;
$color-gray0: #434857;
$color-black:#252830;
$color-dark: #1a1c22;

$color-primary: #1997c6;
$color-secondary: #6c757d;
$color-success: #1BC98E;
$color-info: #9F86FF;
$color-warning: #E4D836;
$color-danger: #E64759;
$color-light: #f8f9fa;

$color-blue: #007bff;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$color-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #28a745;
$color-teal: #20c997;
$color-cyan: #17a2b8;


$color-life-zg:rgb(123, 18, 209);
$color-life-hx: rgb(150, 231, 1);
$color-life-dz:rgb(231, 246, 19);
$color-life-ld:#ccff9a;
$color-life-h:#ff6634;
$color-life-huang:#ffcc01;
$color-life-hai:#99ffff;


$color-micro-blue :#0067b8;
$color-micro-gray :#f5f5f5;
