a {
    text-decoration: none;
    color: #337ab7;
}



input[type=text],
input[type=number],
input[type=tel] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 0;
}

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        line-height: 0;
        content: "";
    }
}


.widgetButton {
    width: 150px;
    height: 36px;
    line-height: 36px;
    background-color: #d83b01;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    position: relative;
}

.vector {
    vertical-align: middle;
    display: inline-block;
}

.cartContainer {
    margin: auto;
    width: 90%;
    max-width: 1180px;
    padding: 25px 0;

    .f-l {
        float: left;
    }

    .f-r {
        float: right;
    }
}

.main-wrapper {
    float: left;
    width: 70%;
}

.sider-wrapper {
    float: right;
    width: 26%;
}

// 标题
.title {
    position: relative;

    h1 {
        font-size: 1.125em;
        font-weight: normal;

        .h-l {
            color: #f62f24;
        }
    }
}

// 购物车列表

.cartList {
    margin-top: 15px;
    color: #666;
    min-height: 160px;

    & .col-1,
    & .col-2,
    & .col-3,
    & .col-4 {
        font-size: 14px;
    }

    header {

        height: 32px;

        .col-1,
        .col-2,
        .col-3,
        .col-4 {
            line-height: 32px;
        }

        .col-3,
        .col-4 {
            display: block;
        }
    }

    .cart-item {
        border-top: 1px solid #d3d3d3;

        &:last-of-type>div:last-of-type {
            padding-bottom: 0;
        }

        .cart-item-tray {
            padding: 20px 0;
            height: 120px;

            .img {
                width: 100%;
                overflow: hidden;
                position: relative;

                .product-img {
                    max-width: 100%;
                    height: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:after {
                    content: "";
                    display: block;
                    padding-top: 60%;
                }
            }

            .del {
                font-size: 14px;
                margin-top: 10px;
                text-align: center;

                a {
                    color: #666;
                    text-decoration: underline;
                }
            }

            h2 {
                font-size: 16px;
                font-weight: normal;

                a {
                    color: #333;
                }
            }

            .info a {
                text-decoration: none;
                line-height: 1em;
            }

            .info>p:first-of-type {
                margin-top: 10px;
            }

            .info>p {
                font-size: 14px;
                line-height: 21px;
            }


            .price p:first-of-type {
                text-align: center;
                color: #d83b01;
            }

            .price p:last-of-type {
                text-align: center;
            }



            .quantity .sub,
            .quantity .plus {
                display: inline-block;
                padding: 3px;
                width: 15px;
                height: 15px;
                background: #d3d3d3;
                color: #333;
                cursor: pointer;
            }

            .quantity input {
                vertical-align: middle;
                display: inline-block;
                height: 19px;
                width: 26px;
                padding: 0;
                border: 1px solid #d3d3d3;
                line-height: 21px;
                font-size: 14px;
                text-align: center;
            }



        }





        .float-summary {
            display: none;
            background: rgba(255, 255, 255, 0.9);

            p {
                height: 35px;
                line-height: 35px;

                &>span:last-of-type {
                    color: #333;
                    margin-left: 0.5em;
                }
            }

            .total {
                font-weight: bold;
            }
        }






    }


    .col-1 {
        float: left;
        width: 16%;
        text-align: center;
        margin: 0 1%;
        min-width: 100px;
        overflow: hidden;
    }

    .col-2 {
        float: left;
        width: 40%;
        margin: 0 1%;
    }

    .col-3 {
        float: right;
        text-align: center;
        width: 15%;
        margin: 0 1%;
    }

    .col-4 {
        width: 15%;
        float: right;
        margin: 0 1%;
        text-align: center;
    }
}





.checkoutBox {
    margin: 0 auto 0;
    padding-bottom: 22px;
    border-bottom: 1px solid #d3d3d3;

    .goumaibtn{
        height: 60px;
    }
    .fixed {
        position: fixed;
        width: 23.4%;
        max-width: 306px;
    }

    >div .font-black {
        color: #000;
    }

    >div .checkOut {
        margin-top: 25px;
    }

    &>div.allWrap {
        padding-top: 10px;
        height: 38px;
        font-weight: bold;

        .f-l {
            font-size: 18px;
        }

        .price-num {
            font-size: 18px;
        }
    }

    &>div {
        font-size: 14px;
        line-height: 28px;

        .price-num {
            color: #d83b01;
        }

        .font-black {
            color: #000;
        }

        .checkOut {
            margin-top: 25px;
        }
    }

    .feature_box {
        text-align: right;
        margin-top: 20px;

        .break_line {
            display: inline-block;
        }

        .feature {
            line-height: 30px;
            display: inline-block;
            text-align: left;
            width: 125px;
            white-space: nowrap;
            margin-left: 20px;

            .icon {
                width: 20px;
                height: 30px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }

    &>p:nth-of-type(1) {
        margin-top: 15px;
    }

    &>p {
        color: #666;
        font-size: 12px;
        line-height: 21px;
        text-align: right;
    }

    &>p:nth-of-type(n + 2) {
        margin-top: 15px;
    }
}