<!-- APP 系列 -->


<div class="product-app">
    <div class="container">
        <div class="channel-name">
            热门Windows 10 游戏及应用
        </div>

        <!-- 应用列表 -->
        <ul>
            <li class="new_add"><a class="inner" href="#" target="_blank">
                    <div class="img"><img class=" lazyloaded"
                            data-src="//store-images.s-microsoft.com/image/apps.2050.14343301090572358.2000000000007864205.da7d6a7f-5e66-439b-82e9-e5c23f17f739"
                            alt="极限竞速：地平线 4 标准版"
                            src="//store-images.s-microsoft.com/image/apps.2050.14343301090572358.2000000000007864205.da7d6a7f-5e66-439b-82e9-e5c23f17f739">
                    </div>
                    <div class="name" title="极限竞速：地平线 4 标准版">极限竞速：地平线 4 标准版</div>
                    <div class="stars"><img class="star_icon"
                            src="https://imgazure.microsoftstore.com.cn/_ui/images/homepage/stars.png" alt="">
                        <div class="progress" style="width:94%;"></div>
                    </div>
                </a></li>
            <li class="new_add"><a class="inner" href="#" target="_blank">
                    <div class="img"><img class=" lazyloaded"
                            data-src="//store-images.s-microsoft.com/image/apps.21021.13954787087416189.65ab3adc-81a4-4030-aa3c-ced31da4491a.73b0760d-45f7-46fc-8ce2-ab5ee02520f8"
                            alt="帝国时代：决定版"
                            src="//store-images.s-microsoft.com/image/apps.21021.13954787087416189.65ab3adc-81a4-4030-aa3c-ced31da4491a.73b0760d-45f7-46fc-8ce2-ab5ee02520f8">
                    </div>
                    <div class="name" title="帝国时代：决定版">帝国时代：决定版</div>
                    <div class="stars"><img class="star_icon"
                            src="https://imgazure.microsoftstore.com.cn/_ui/images/homepage/stars.png" alt="">
                        <div class="progress" style="width:72%;"></div>
                    </div>
                </a></li>
            <li class="new_add"><a class="inner" href="#" target="_blank">
                    <div class="img"><img class=" lazyloaded"
                            data-src="//store-images.s-microsoft.com/image/apps.51061.14582624973508592.2000000000007863670.d6a7502b-cddd-4fa9-af4b-f505e1638f6f"
                            alt="极限竞速：地平线 4 终极版"
                            src="//store-images.s-microsoft.com/image/apps.51061.14582624973508592.2000000000007863670.d6a7502b-cddd-4fa9-af4b-f505e1638f6f">
                    </div>
                    <div class="name" title="极限竞速：地平线 4 终极版">极限竞速：地平线 4 终极版</div>
                    <div class="stars"><img class="star_icon"
                            src="https://imgazure.microsoftstore.com.cn/_ui/images/homepage/stars.png" alt="">
                        <div class="progress" style="width:68%;"></div>
                    </div>
                </a></li>
            <li class="new_add"><a class="inner" href="#" target="_blank">
                    <div class="img"><img class=" lazyloaded"
                            data-src="//store-images.s-microsoft.com/image/apps.42664.13981634997965175.2000000000007770765.08531efc-7af1-4861-8ab1-280b7eb3d974"
                            alt="Minecraft Windows 10 新手收藏"
                            src="//store-images.s-microsoft.com/image/apps.42664.13981634997965175.2000000000007770765.08531efc-7af1-4861-8ab1-280b7eb3d974">
                    </div>
                    <div class="name" title="Minecraft Windows 10 新手收藏">Minecraft Windows 10 新手收藏</div>
                    <div class="stars"><img class="star_icon"
                            src="https://imgazure.microsoftstore.com.cn/_ui/images/homepage/stars.png" alt="">
                        <div class="progress" style="width:68%;"></div>
                    </div>
                </a></li>
            <li class="new_add"><a class="inner" href="#" target="_blank">
                    <div class="img"><img class=" lazyloaded"
                            data-src="//store-images.s-microsoft.com/image/apps.6117.13510798882964918.d26509ad-c5eb-4d7f-a4f7-1db3a2e4abbe.39be58b2-02b6-4771-a8c6-30bd54070d68"
                            alt="Plague Inc."
                            src="//store-images.s-microsoft.com/image/apps.6117.13510798882964918.d26509ad-c5eb-4d7f-a4f7-1db3a2e4abbe.39be58b2-02b6-4771-a8c6-30bd54070d68">
                    </div>
                    <div class="name" title="Plague Inc.">Plague Inc.</div>
                    <div class="stars"><img class="star_icon"
                            src="https://imgazure.microsoftstore.com.cn/_ui/images/homepage/stars.png" alt="">
                        <div class="progress" style="width:88%;"></div>
                    </div>
                </a></li>
            <li class="new_add"><a class="inner" href="#" target="_blank">
                    <div class="img"><img class=" lazyloaded"
                            data-src="//store-images.s-microsoft.com/image/apps.12930.13510798886621078.d3eef4c6-9d74-431a-aae4-e8081225d7c1.d9d8eaa3-56b8-4ff8-9e97-ecf9e74e8e78"
                            alt="Rise of the Tomb Raider"
                            src="//store-images.s-microsoft.com/image/apps.12930.13510798886621078.d3eef4c6-9d74-431a-aae4-e8081225d7c1.d9d8eaa3-56b8-4ff8-9e97-ecf9e74e8e78">
                    </div>
                    <div class="name" title="Rise of the Tomb Raider">Rise of the Tomb Raider</div>
                    <div class="stars"><img class="star_icon"
                            src="https://imgazure.microsoftstore.com.cn/_ui/images/homepage/stars.png" alt="">
                        <div class="progress" style="width:80%;"></div>
                    </div>
                </a></li>
            <li class="new_add"><a class="inner" href="#" target="_blank">
                    <div class="img"><img class=" lazyloaded"
                            data-src="//store-images.s-microsoft.com/image/apps.15201.14114766795216147.2000000000007964185.68779818-9821-4513-8ee1-35f634037cf5"
                            alt="Minecraft for Windows 10 Master Collection"
                            src="//store-images.s-microsoft.com/image/apps.15201.14114766795216147.2000000000007964185.68779818-9821-4513-8ee1-35f634037cf5">
                    </div>
                    <div class="name" title="Minecraft for Windows 10 Master Collection">Minecraft for Windows
                        10 Master
                        Collection</div>
                    <div class="stars"><img class="star_icon"
                            src="https://imgazure.microsoftstore.com.cn/_ui/images/homepage/stars.png" alt="">
                        <div class="progress" style="width:70%;"></div>
                    </div>
                </a></li>
            <li class="new_add"><a class="inner" href="#" target="_blank">
                    <div class="img"><img class=" lazyloaded"
                            data-src="//store-images.s-microsoft.com/image/apps.36683.14372382618520757.4838e0da-8150-4c53-85e0-376821d93733.c2ae50e6-75c4-4eb9-88c7-38ca8124bb10"
                            alt="《国家的崛起：扩展版》"
                            src="//store-images.s-microsoft.com/image/apps.36683.14372382618520757.4838e0da-8150-4c53-85e0-376821d93733.c2ae50e6-75c4-4eb9-88c7-38ca8124bb10">
                    </div>
                    <div class="name" title="《国家的崛起：扩展版》">《国家的崛起：扩展版》</div>
                    <div class="stars"><img class="star_icon"
                            src="https://imgazure.microsoftstore.com.cn/_ui/images/homepage/stars.png" alt="">
                        <div class="progress" style="width:62%;"></div>
                    </div>
                </a></li>
        </ul>


    </div>
</div>