        <!-- 产品系列 -->
        <div class="product-channels">

            <!-- 系列 Surface -->
            <div class="channel">
                <div class="container">
                    <!-- 系列名字 Surface -->
                    <div class="channel-name">Surface</div>
                    <ul id="channel-surface">

                    </ul>
                </div>
            </div>

            <!-- 系列 Office -->
            <div class="channel">
                <div class="container">
                    <div class="channel-name">Office</div>
                    <ul id="channel-office">


                    </ul>
                </div>
            </div>


            <!-- 系列 Xbox -->
            <div class="channel">
                <div class="container">
                    <div class="channel-name">Xbox</div>
                    <ul id="channel-xbox">


                    </ul>
                </div>
            </div>


            <!-- 系列 电脑与配件 -->
            <div class="channel">
                <div class="container">
                    <div class="channel-name">电脑与配件</div>
                    <ul id="channel-hard">

                    </ul>
                </div>
            </div>




        </div>