        <!-- 产品系列 -->
        <div class="product-channels">

            <!-- 系列 Surface -->
            <div class="channel">
                <div class="container">
                    <!-- 系列名字 Surface -->
                    <div class="channel-name">Surface</div>
                    <ul id="channel-surface">
                        <li class="guide"
                            style="background-image:url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017SurfaceGuide-Media?context=bWFzdGVyfGltYWdlc3wyNDY5MjB8aW1hZ2UvcG5nfGltYWdlcy9oMjQvaDYzLzEwMDM3MTkyNjU0ODc4LnBuZ3xhZmY5ZGMyODkxM2U0YTkxYzAyM2YzOWUwOTI4N2NhOGQ3MjVlOWZkZjIyOWU0OGY4YWQ0NDY4ZmRkZTQwZjUy')">
                            <div class="inner">
                                <p>卓越生产力，非凡创造力<br>Surface 全明星系列震撼登陆</p>
                                <a href="#" class="viewmore" title="查看更多>Surface">查看更多&gt;</a>
                            </div>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Surface Pro 6">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-01?context=bWFzdGVyfGltYWdlc3wxMDEyMjl8aW1hZ2UvcG5nfGltYWdlcy9oMjAvaDhjLzEwMTMxNTYzMjgyNDYyLnBuZ3xiYzczOTM0ZjI4ODc4ZGVmNGJkYzBjM2E3OWI2MDM5OTkwYmY4YWUwYTViZDJmZmZiMWE3ODljNjAwM2NmZmU0"
                                        alt="Surface Pro 6" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-01?context=bWFzdGVyfGltYWdlc3wxMDEyMjl8aW1hZ2UvcG5nfGltYWdlcy9oMjAvaDhjLzEwMTMxNTYzMjgyNDYyLnBuZ3xiYzczOTM0ZjI4ODc4ZGVmNGJkYzBjM2E3OWI2MDM5OTkwYmY4YWUwYTViZDJmZmZiMWE3ODljNjAwM2NmZmU0">
                                </div>
                                <div class="desc">
                                    <h3 title="Surface Pro 6">
                                        Surface Pro 6</h3>
                                    <p>随心所欲，百变菁英</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 7,008</strong>
                                                &nbsp;起</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Surface Go">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-02?context=bWFzdGVyfGltYWdlc3w1MjI4MHxpbWFnZS9wbmd8aW1hZ2VzL2hkMi9oMTUvMTAxMzE1NjMzMTUyMzAucG5nfGExNjlhOTE1MjY3OTE2ZDRiMjgyODkxNzE3ZTEzNTkwZmI3Zjc2NDhlNzc4MDMzOWU1NzBjMWMwODFhNDZkNmE"
                                        alt="Surface Go" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-02?context=bWFzdGVyfGltYWdlc3w1MjI4MHxpbWFnZS9wbmd8aW1hZ2VzL2hkMi9oMTUvMTAxMzE1NjMzMTUyMzAucG5nfGExNjlhOTE1MjY3OTE2ZDRiMjgyODkxNzE3ZTEzNTkwZmI3Zjc2NDhlNzc4MDMzOWU1NzBjMWMwODFhNDZkNmE">
                                </div>
                                <div class="desc">
                                    <h3 title="Surface Go">
                                        Surface Go</h3>
                                    <p>赋予便携新能量</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 2,908</strong>
                                                &nbsp;起</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Surface Studio 2">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-03?context=bWFzdGVyfGltYWdlc3wyMDY2MTF8aW1hZ2UvcG5nfGltYWdlcy9oYzAvaDAyLzEwMTMxNTYzMzQ3OTk4LnBuZ3wzN2E5YTc1NGU1MGE4YjgxODk2ZWZlNjAzMjA3MDEyODNmZDRkN2NhNWQ3NjA1ZjNlZGZiZmFiMTdlNDA5MWE3"
                                        alt="Surface Studio 2" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-03?context=bWFzdGVyfGltYWdlc3wyMDY2MTF8aW1hZ2UvcG5nfGltYWdlcy9oYzAvaDAyLzEwMTMxNTYzMzQ3OTk4LnBuZ3wzN2E5YTc1NGU1MGE4YjgxODk2ZWZlNjAzMjA3MDEyODNmZDRkN2NhNWQ3NjA1ZjNlZGZiZmFiMTdlNDA5MWE3">
                                </div>
                                <div class="desc">
                                    <h3 title="Surface Studio 2">
                                        Surface Studio 2</h3>
                                    <p>超越你对创意工作室的想象</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>
                                                售价：<strong>¥ 29,108</strong>
                                                &nbsp;起</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 系列 Office -->
            <div class="channel">
                <div class="container">
                    <div class="channel-name">Office</div>
                    <ul id="channel-office">
                        <li class="guide"
                            style="background-image:url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017OfficeGuide-Media?context=bWFzdGVyfGltYWdlc3wzMDU5NXxpbWFnZS9wbmd8aW1hZ2VzL2hlYi9oNTIvMTAwODgxMjU1MzAxNDIucG5nfGUzMzJhOTMyNWYwZTZiN2NjOGYyNmRhMDI1YjU5MjcwNDVjZjBlN2U1MmM1ZWE3YzEwMDJiYjdiNmFkMTM3NDU')">
                            <div class="inner">
                                <p>专注高效办公20年<br>选择Office，<br>成就更高生产力</p>
                                <a href="#" class="viewmore" title="查看更多>Office" href="#">查看更多&gt;</a>
                            </div>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Office 365 个人版" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-02?context=bWFzdGVyfGltYWdlc3wxMDY0NnxpbWFnZS9wbmd8aW1hZ2VzL2g0OC9oM2EvMTAwODgxMjY2NDQyNTQucG5nfGNiMjJjNDJiNTlmZmU2YzdlZmNkODU2Yzg0OGQzMmQ3ZWNjNmQzM2Q0MDUxZGZiNWY0ZjMyNzAwMzU0ZjYyNzI"
                                        alt="Office 365 个人版" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-02?context=bWFzdGVyfGltYWdlc3wxMDY0NnxpbWFnZS9wbmd8aW1hZ2VzL2g0OC9oM2EvMTAwODgxMjY2NDQyNTQucG5nfGNiMjJjNDJiNTlmZmU2YzdlZmNkODU2Yzg0OGQzMmQ3ZWNjNmQzM2Q0MDUxZGZiNWY0ZjMyNzAwMzU0ZjYyNzI">
                                </div>
                                <div class="desc">
                                    <h3 title="Office 365 个人版">
                                        Office 365 个人版</h3>
                                    <p>可在多部设备上安装，享持续更新</p>
                                    <div class="tag"><span style="background-color: #e71224">面向个人</span></div>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 398</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Office 365 家庭版" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-02?context=bWFzdGVyfGltYWdlc3wxMTU0NXxpbWFnZS9wbmd8aW1hZ2VzL2hlMy9oYmEvMTAwODgxMjY2NzcwMjIucG5nfDFkNGUyNmIzZGJmNmIxYjAyOTBjZmI3YmU4Zjg4YTEzMjA0YWE3NWRmNWFlMDMyY2I1MGZjZTlmMzllNjA5Yzg"
                                        alt="Office 365 家庭版" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-02?context=bWFzdGVyfGltYWdlc3wxMTU0NXxpbWFnZS9wbmd8aW1hZ2VzL2hlMy9oYmEvMTAwODgxMjY2NzcwMjIucG5nfDFkNGUyNmIzZGJmNmIxYjAyOTBjZmI3YmU4Zjg4YTEzMjA0YWE3NWRmNWFlMDMyY2I1MGZjZTlmMzllNjA5Yzg">
                                </div>
                                <div class="desc">
                                    <h3 title="Office 365 家庭版">
                                        Office 365 家庭版</h3>
                                    <p>可供多达6位用户分享，享持续更新</p>
                                    <div class="tag"><span style="background-color: #e71224">多人共享</span></div>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 498</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Office家庭和学生版2019" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-03?context=bWFzdGVyfGltYWdlc3wzODUyMnxpbWFnZS9wbmd8aW1hZ2VzL2g0Ny9oNTIvMTAwODgxMjY3MDk3OTAucG5nfDg0YTRlMjY4Mjk2MjkxNDAxMDg4NWQ4NDIzM2Y3MzdiMWQyNzg5MmM5YWQwMjBkOTkzMDUwZjRhNWFhMGVlYTg"
                                        alt="Office家庭和学生版2019" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-03?context=bWFzdGVyfGltYWdlc3wzODUyMnxpbWFnZS9wbmd8aW1hZ2VzL2g0Ny9oNTIvMTAwODgxMjY3MDk3OTAucG5nfDg0YTRlMjY4Mjk2MjkxNDAxMDg4NWQ4NDIzM2Y3MzdiMWQyNzg5MmM5YWQwMjBkOTkzMDUwZjRhNWFhMGVlYTg">
                                </div>
                                <div class="desc">
                                    <h3 title="Office 家庭和学生版 2019">
                                        Office 家庭和学生版 2019</h3>
                                    <p>2019 版经典应用，一次购买，永久使用</p>
                                    <div class="tag"><span style="background-color: #e71224">兼容 PC/Mac</span></div>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 748</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- 系列 Xbox -->
            <div class="channel">
                <div class="container">
                    <div class="channel-name">Xbox</div>
                    <ul id="channel-xbox">
                        <li class="guide"
                            style="background-image:url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017XboxGuide-Media?context=bWFzdGVyfGltYWdlc3wyMTkzMDB8aW1hZ2UvcG5nfGltYWdlcy9oZGYvaGJmLzEwMTI0MjgzNTEwODE0LnBuZ3w2ODQ5YjZmZmI1M2ZlZTIxODE1ZTlkOWIzOWEwY2ZlODdlZjhmNGNiZjc5MzM4NWJkMWM3MzJmYmViZGFkNDg3')">
                            <div class="inner">
                                <p>更纤薄、更时尚、更高清<br>打造畅快游戏体验</p>
                                <a href="#" class="viewmore" title="查看更多>Xbox" href="#">查看更多&gt;</a>
                            </div>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Xbox One X" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-01?context=bWFzdGVyfGltYWdlc3w5MTU1MHxpbWFnZS9wbmd8aW1hZ2VzL2g2Yy9oNjMvMTAxMTAwNjgwOTcwNTQucG5nfDg3MjQ0NDE3NjI1YjI2NDE5NjZmYjE1MjNjMGE1MGJlMmI1YzMzNTkwMTFhNmJiNDI2NTNkMjUwYjMwMTVkNWU"
                                        alt="Xbox One X" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-01?context=bWFzdGVyfGltYWdlc3w5MTU1MHxpbWFnZS9wbmd8aW1hZ2VzL2g2Yy9oNjMvMTAxMTAwNjgwOTcwNTQucG5nfDg3MjQ0NDE3NjI1YjI2NDE5NjZmYjE1MjNjMGE1MGJlMmI1YzMzNTkwMTFhNmJiNDI2NTNkMjUwYjMwMTVkNWU">
                                </div>
                                <div class="desc">
                                    <h3 title="Xbox One X 1TB 渐变金特别版">
                                        Xbox One X 1TB 渐变金特别版</h3>
                                    <p>真 4K 60 帧高清，感受真实的力量</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>
                                                <span>售价：<strong>¥ 3,789</strong> 起</span></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Xbox One S" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-02?context=bWFzdGVyfGltYWdlc3wxNzE5Nzd8aW1hZ2UvcG5nfGltYWdlcy9oM2UvaGY4LzEwMTE3MDQ3MzIwNjA2LnBuZ3w2ZTU5N2M2MjI1ZTU2NDljNzdmZDViZDRlOWFlMWJhNDg1ZTY2MjI4MmI0ZjkxNGU4NjM0ZWZkN2E1N2VmOTMz"
                                        alt="Xbox One S" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-02?context=bWFzdGVyfGltYWdlc3wxNzE5Nzd8aW1hZ2UvcG5nfGltYWdlcy9oM2UvaGY4LzEwMTE3MDQ3MzIwNjA2LnBuZ3w2ZTU5N2M2MjI1ZTU2NDljNzdmZDViZDRlOWFlMWJhNDg1ZTY2MjI4MmI0ZjkxNGU4NjM0ZWZkN2E1N2VmOTMz">
                                </div>
                                <div class="desc">
                                    <h3 title="Xbox One S 1TB 动作冒险套装">
                                        Xbox One S 1TB 动作冒险套装</h3>
                                    <p>内含《核心重铸》等 5 款游戏</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>
                                                <span>售价：<strong>¥ 2,169</strong> 起</span></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Xbox 无线控制器" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-03?context=bWFzdGVyfGltYWdlc3wxNjMxNDl8aW1hZ2UvcG5nfGltYWdlcy9oYmIvaGEwLzEwMTI0Mjg0MTY2MTc0LnBuZ3wyMTM2N2E2Zjk2MjRjN2FhMjU2NGI2N2EwM2M5MmUwNGE5YzI3ZDNiZTgwYjBlNzU5M2VjM2Q4YTNhNzczYWQ4"
                                        alt="Xbox 无线控制器" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-03?context=bWFzdGVyfGltYWdlc3wxNjMxNDl8aW1hZ2UvcG5nfGltYWdlcy9oYmIvaGEwLzEwMTI0Mjg0MTY2MTc0LnBuZ3wyMTM2N2E2Zjk2MjRjN2FhMjU2NGI2N2EwM2M5MmUwNGE5YzI3ZDNiZTgwYjBlNzU5M2VjM2Q4YTNhNzczYWQ4">
                                </div>
                                <div class="desc">
                                    <h3 title="Xbox 无线控制器">
                                        Xbox 无线控制器</h3>
                                    <p>个性外观，难忘触感</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 359</strong>
                                                &nbsp;起</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- 系列 电脑与配件 -->
            <div class="channel">
                <div class="container">
                    <div class="channel-name">电脑与配件</div>
                    <ul id="channel-hard">
                        <li class="guide"
                            style="background-image:url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017ComputerGuide-Media?context=bWFzdGVyfGltYWdlc3w0NDY4MHxpbWFnZS9wbmd8aW1hZ2VzL2gxMi9oNTgvMTAwODgxMjU3MjY3NTAucG5nfDk1MWZkMGMwMmEwNWNhMWU3N2JkYWU3ZWE3Y2M4NzM5N2E4ZThjZGFiNjE0ZmNiMTQxMzEwYTRiOTUyN2M0MGM')">
                            <div class="inner">
                                <p>精选品牌<br>Windows 10电脑与配件</p>
                                <a href="#" class="viewmore" title="查看更多>电脑与配件" href="#">查看更多&gt;</a>
                            </div>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Azure Kinect DK" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-01?context=bWFzdGVyfGltYWdlc3w5ODA0NnxpbWFnZS9wbmd8aW1hZ2VzL2gyZi9oOTIvMTAwODgxMjY0ODA0MTQucG5nfDJiZTZhZjQ5ZjE2NTY0YThhN2JkM2Q2ODYxODA3NTA3ZjEzZjk5NWNkNDg1MGVlYzRkMWY1YjA0NTA5NGYxMmM"
                                        alt="Azure Kinect DK" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-01?context=bWFzdGVyfGltYWdlc3w5ODA0NnxpbWFnZS9wbmd8aW1hZ2VzL2gyZi9oOTIvMTAwODgxMjY0ODA0MTQucG5nfDJiZTZhZjQ5ZjE2NTY0YThhN2JkM2Q2ODYxODA3NTA3ZjEzZjk5NWNkNDg1MGVlYzRkMWY1YjA0NTA5NGYxMmM">
                                </div>
                                <div class="desc">
                                    <h3 title="Azure Kinect DK">
                                        Azure Kinect DK</h3>
                                    <p>用于构建高级计算机视觉和语音模型的开发工具包</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 2,988</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="微软 Sculpt 无线便携鼠标" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-02?context=bWFzdGVyfGltYWdlc3wxMTQ2OTB8aW1hZ2UvcG5nfGltYWdlcy9oZGQvaGYxLzEwMDg4MTI2NTc4NzE4LnBuZ3w5NzUwNzAwMWE4NmU1ZWM2OWNjNTQ0M2E4MjFhZDE1MDk3ODEwZWI2ZWQ4YjhiMDlhODJhNGVjOWY1NWU0N2Zm"
                                        alt="微软 Sculpt 无线便携鼠标" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-02?context=bWFzdGVyfGltYWdlc3wxMTQ2OTB8aW1hZ2UvcG5nfGltYWdlcy9oZGQvaGYxLzEwMDg4MTI2NTc4NzE4LnBuZ3w5NzUwNzAwMWE4NmU1ZWM2OWNjNTQ0M2E4MjFhZDE1MDk3ODEwZWI2ZWQ4YjhiMDlhODJhNGVjOWY1NWU0N2Zm">
                                </div>
                                <div class="desc">
                                    <h3 title="微软 Sculpt 无线便携鼠标">
                                        微软 Sculpt 无线便携鼠标</h3>
                                    <p>Windows 按钮可快速查看“开始”菜单，蓝影追踪技术，适用于多种表面</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 139</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="微软精准鼠标" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-03?context=bWFzdGVyfGltYWdlc3w3NTg1MXxpbWFnZS9wbmd8aW1hZ2VzL2g4YS9oZDAvMTAwODgxMjY2MTE0ODYucG5nfDJiNjY5ZTViZDc3Yzk0N2Y1MjdjOGYxZjFjMzAzMzk2MjJhM2Q4ZjBjZmEzNWQyMDRlOWRlMjdmYTU3YjNkZjQ"
                                        alt="微软精准鼠标" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-03?context=bWFzdGVyfGltYWdlc3w3NTg1MXxpbWFnZS9wbmd8aW1hZ2VzL2g4YS9oZDAvMTAwODgxMjY2MTE0ODYucG5nfDJiNjY5ZTViZDc3Yzk0N2Y1MjdjOGYxZjFjMzAzMzk2MjJhM2Q4ZjBjZmEzNWQyMDRlOWRlMjdmYTU3YjNkZjQ">
                                </div>
                                <div class="desc">
                                    <h3 title="微软精准鼠标">
                                        微软精准鼠标</h3>
                                    <p>支持 USB 和蓝牙两种连接方式，侧键可自定义，控制更精准</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 765</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>




        </div>


        <div class="product-channels">

            <!-- 系列 Surface -->
            <div class="channel">
                <div class="container">
                    <!-- 系列名字 Surface -->
                    <div class="channel-name">Surface</div>
                    <ul>
                        <li class="guide"
                            style="background-image:url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017SurfaceGuide-Media?context=bWFzdGVyfGltYWdlc3wyNDY5MjB8aW1hZ2UvcG5nfGltYWdlcy9oMjQvaDYzLzEwMDM3MTkyNjU0ODc4LnBuZ3xhZmY5ZGMyODkxM2U0YTkxYzAyM2YzOWUwOTI4N2NhOGQ3MjVlOWZkZjIyOWU0OGY4YWQ0NDY4ZmRkZTQwZjUy')">
                            <div class="inner">
                                <p>卓越生产力，非凡创造力<br>Surface 全明星系列震撼登陆</p>
                                <a href="#" class="viewmore" title="查看更多>Surface">查看更多&gt;</a>
                            </div>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Surface Pro 6">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-01?context=bWFzdGVyfGltYWdlc3wxMDEyMjl8aW1hZ2UvcG5nfGltYWdlcy9oMjAvaDhjLzEwMTMxNTYzMjgyNDYyLnBuZ3xiYzczOTM0ZjI4ODc4ZGVmNGJkYzBjM2E3OWI2MDM5OTkwYmY4YWUwYTViZDJmZmZiMWE3ODljNjAwM2NmZmU0"
                                        alt="Surface Pro 6" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-01?context=bWFzdGVyfGltYWdlc3wxMDEyMjl8aW1hZ2UvcG5nfGltYWdlcy9oMjAvaDhjLzEwMTMxNTYzMjgyNDYyLnBuZ3xiYzczOTM0ZjI4ODc4ZGVmNGJkYzBjM2E3OWI2MDM5OTkwYmY4YWUwYTViZDJmZmZiMWE3ODljNjAwM2NmZmU0">
                                </div>
                                <div class="desc">
                                    <h3 title="Surface Pro 6">
                                        Surface Pro 6</h3>
                                    <p>随心所欲，百变菁英</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 7,008</strong>
                                                &nbsp;起</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Surface Go">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-02?context=bWFzdGVyfGltYWdlc3w1MjI4MHxpbWFnZS9wbmd8aW1hZ2VzL2hkMi9oMTUvMTAxMzE1NjMzMTUyMzAucG5nfGExNjlhOTE1MjY3OTE2ZDRiMjgyODkxNzE3ZTEzNTkwZmI3Zjc2NDhlNzc4MDMzOWU1NzBjMWMwODFhNDZkNmE"
                                        alt="Surface Go" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-02?context=bWFzdGVyfGltYWdlc3w1MjI4MHxpbWFnZS9wbmd8aW1hZ2VzL2hkMi9oMTUvMTAxMzE1NjMzMTUyMzAucG5nfGExNjlhOTE1MjY3OTE2ZDRiMjgyODkxNzE3ZTEzNTkwZmI3Zjc2NDhlNzc4MDMzOWU1NzBjMWMwODFhNDZkNmE">
                                </div>
                                <div class="desc">
                                    <h3 title="Surface Go">
                                        Surface Go</h3>
                                    <p>赋予便携新能量</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 2,908</strong>
                                                &nbsp;起</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Surface Studio 2">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-03?context=bWFzdGVyfGltYWdlc3wyMDY2MTF8aW1hZ2UvcG5nfGltYWdlcy9oYzAvaDAyLzEwMTMxNTYzMzQ3OTk4LnBuZ3wzN2E5YTc1NGU1MGE4YjgxODk2ZWZlNjAzMjA3MDEyODNmZDRkN2NhNWQ3NjA1ZjNlZGZiZmFiMTdlNDA5MWE3"
                                        alt="Surface Studio 2" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductSurface-03?context=bWFzdGVyfGltYWdlc3wyMDY2MTF8aW1hZ2UvcG5nfGltYWdlcy9oYzAvaDAyLzEwMTMxNTYzMzQ3OTk4LnBuZ3wzN2E5YTc1NGU1MGE4YjgxODk2ZWZlNjAzMjA3MDEyODNmZDRkN2NhNWQ3NjA1ZjNlZGZiZmFiMTdlNDA5MWE3">
                                </div>
                                <div class="desc">
                                    <h3 title="Surface Studio 2">
                                        Surface Studio 2</h3>
                                    <p>超越你对创意工作室的想象</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>
                                                售价：<strong>¥ 29,108</strong>
                                                &nbsp;起</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 系列 Office -->
            <div class="channel">
                <div class="container">
                    <div class="channel-name">Office</div>
                    <ul>
                        <li class="guide"
                            style="background-image:url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017OfficeGuide-Media?context=bWFzdGVyfGltYWdlc3wzMDU5NXxpbWFnZS9wbmd8aW1hZ2VzL2hlYi9oNTIvMTAwODgxMjU1MzAxNDIucG5nfGUzMzJhOTMyNWYwZTZiN2NjOGYyNmRhMDI1YjU5MjcwNDVjZjBlN2U1MmM1ZWE3YzEwMDJiYjdiNmFkMTM3NDU')">
                            <div class="inner">
                                <p>专注高效办公20年<br>选择Office，<br>成就更高生产力</p>
                                <a href="#" class="viewmore" title="查看更多>Office" href="#">查看更多&gt;</a>
                            </div>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Office 365 个人版" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-02?context=bWFzdGVyfGltYWdlc3wxMDY0NnxpbWFnZS9wbmd8aW1hZ2VzL2g0OC9oM2EvMTAwODgxMjY2NDQyNTQucG5nfGNiMjJjNDJiNTlmZmU2YzdlZmNkODU2Yzg0OGQzMmQ3ZWNjNmQzM2Q0MDUxZGZiNWY0ZjMyNzAwMzU0ZjYyNzI"
                                        alt="Office 365 个人版" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-02?context=bWFzdGVyfGltYWdlc3wxMDY0NnxpbWFnZS9wbmd8aW1hZ2VzL2g0OC9oM2EvMTAwODgxMjY2NDQyNTQucG5nfGNiMjJjNDJiNTlmZmU2YzdlZmNkODU2Yzg0OGQzMmQ3ZWNjNmQzM2Q0MDUxZGZiNWY0ZjMyNzAwMzU0ZjYyNzI">
                                </div>
                                <div class="desc">
                                    <h3 title="Office 365 个人版">
                                        Office 365 个人版</h3>
                                    <p>可在多部设备上安装，享持续更新</p>
                                    <div class="tag"><span style="background-color: #e71224">面向个人</span></div>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 398</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Office 365 家庭版" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-02?context=bWFzdGVyfGltYWdlc3wxMTU0NXxpbWFnZS9wbmd8aW1hZ2VzL2hlMy9oYmEvMTAwODgxMjY2NzcwMjIucG5nfDFkNGUyNmIzZGJmNmIxYjAyOTBjZmI3YmU4Zjg4YTEzMjA0YWE3NWRmNWFlMDMyY2I1MGZjZTlmMzllNjA5Yzg"
                                        alt="Office 365 家庭版" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-02?context=bWFzdGVyfGltYWdlc3wxMTU0NXxpbWFnZS9wbmd8aW1hZ2VzL2hlMy9oYmEvMTAwODgxMjY2NzcwMjIucG5nfDFkNGUyNmIzZGJmNmIxYjAyOTBjZmI3YmU4Zjg4YTEzMjA0YWE3NWRmNWFlMDMyY2I1MGZjZTlmMzllNjA5Yzg">
                                </div>
                                <div class="desc">
                                    <h3 title="Office 365 家庭版">
                                        Office 365 家庭版</h3>
                                    <p>可供多达6位用户分享，享持续更新</p>
                                    <div class="tag"><span style="background-color: #e71224">多人共享</span></div>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 498</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Office家庭和学生版2019" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-03?context=bWFzdGVyfGltYWdlc3wzODUyMnxpbWFnZS9wbmd8aW1hZ2VzL2g0Ny9oNTIvMTAwODgxMjY3MDk3OTAucG5nfDg0YTRlMjY4Mjk2MjkxNDAxMDg4NWQ4NDIzM2Y3MzdiMWQyNzg5MmM5YWQwMjBkOTkzMDUwZjRhNWFhMGVlYTg"
                                        alt="Office家庭和学生版2019" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductOffice-03?context=bWFzdGVyfGltYWdlc3wzODUyMnxpbWFnZS9wbmd8aW1hZ2VzL2g0Ny9oNTIvMTAwODgxMjY3MDk3OTAucG5nfDg0YTRlMjY4Mjk2MjkxNDAxMDg4NWQ4NDIzM2Y3MzdiMWQyNzg5MmM5YWQwMjBkOTkzMDUwZjRhNWFhMGVlYTg">
                                </div>
                                <div class="desc">
                                    <h3 title="Office 家庭和学生版 2019">
                                        Office 家庭和学生版 2019</h3>
                                    <p>2019 版经典应用，一次购买，永久使用</p>
                                    <div class="tag"><span style="background-color: #e71224">兼容 PC/Mac</span></div>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 748</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- 系列 Xbox -->
            <div class="channel">
                <div class="container">
                    <div class="channel-name">Xbox</div>
                    <ul>
                        <li class="guide"
                            style="background-image:url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017XboxGuide-Media?context=bWFzdGVyfGltYWdlc3wyMTkzMDB8aW1hZ2UvcG5nfGltYWdlcy9oZGYvaGJmLzEwMTI0MjgzNTEwODE0LnBuZ3w2ODQ5YjZmZmI1M2ZlZTIxODE1ZTlkOWIzOWEwY2ZlODdlZjhmNGNiZjc5MzM4NWJkMWM3MzJmYmViZGFkNDg3')">
                            <div class="inner">
                                <p>更纤薄、更时尚、更高清<br>打造畅快游戏体验</p>
                                <a href="#" class="viewmore" title="查看更多>Xbox" href="#">查看更多&gt;</a>
                            </div>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Xbox One X" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-01?context=bWFzdGVyfGltYWdlc3w5MTU1MHxpbWFnZS9wbmd8aW1hZ2VzL2g2Yy9oNjMvMTAxMTAwNjgwOTcwNTQucG5nfDg3MjQ0NDE3NjI1YjI2NDE5NjZmYjE1MjNjMGE1MGJlMmI1YzMzNTkwMTFhNmJiNDI2NTNkMjUwYjMwMTVkNWU"
                                        alt="Xbox One X" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-01?context=bWFzdGVyfGltYWdlc3w5MTU1MHxpbWFnZS9wbmd8aW1hZ2VzL2g2Yy9oNjMvMTAxMTAwNjgwOTcwNTQucG5nfDg3MjQ0NDE3NjI1YjI2NDE5NjZmYjE1MjNjMGE1MGJlMmI1YzMzNTkwMTFhNmJiNDI2NTNkMjUwYjMwMTVkNWU">
                                </div>
                                <div class="desc">
                                    <h3 title="Xbox One X 1TB 渐变金特别版">
                                        Xbox One X 1TB 渐变金特别版</h3>
                                    <p>真 4K 60 帧高清，感受真实的力量</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>
                                                <span>售价：<strong>¥ 3,789</strong> 起</span></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Xbox One S" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-02?context=bWFzdGVyfGltYWdlc3wxNzE5Nzd8aW1hZ2UvcG5nfGltYWdlcy9oM2UvaGY4LzEwMTE3MDQ3MzIwNjA2LnBuZ3w2ZTU5N2M2MjI1ZTU2NDljNzdmZDViZDRlOWFlMWJhNDg1ZTY2MjI4MmI0ZjkxNGU4NjM0ZWZkN2E1N2VmOTMz"
                                        alt="Xbox One S" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-02?context=bWFzdGVyfGltYWdlc3wxNzE5Nzd8aW1hZ2UvcG5nfGltYWdlcy9oM2UvaGY4LzEwMTE3MDQ3MzIwNjA2LnBuZ3w2ZTU5N2M2MjI1ZTU2NDljNzdmZDViZDRlOWFlMWJhNDg1ZTY2MjI4MmI0ZjkxNGU4NjM0ZWZkN2E1N2VmOTMz">
                                </div>
                                <div class="desc">
                                    <h3 title="Xbox One S 1TB 动作冒险套装">
                                        Xbox One S 1TB 动作冒险套装</h3>
                                    <p>内含《核心重铸》等 5 款游戏</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>
                                                <span>售价：<strong>¥ 2,169</strong> 起</span></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Xbox 无线控制器" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-03?context=bWFzdGVyfGltYWdlc3wxNjMxNDl8aW1hZ2UvcG5nfGltYWdlcy9oYmIvaGEwLzEwMTI0Mjg0MTY2MTc0LnBuZ3wyMTM2N2E2Zjk2MjRjN2FhMjU2NGI2N2EwM2M5MmUwNGE5YzI3ZDNiZTgwYjBlNzU5M2VjM2Q4YTNhNzczYWQ4"
                                        alt="Xbox 无线控制器" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductXbox-03?context=bWFzdGVyfGltYWdlc3wxNjMxNDl8aW1hZ2UvcG5nfGltYWdlcy9oYmIvaGEwLzEwMTI0Mjg0MTY2MTc0LnBuZ3wyMTM2N2E2Zjk2MjRjN2FhMjU2NGI2N2EwM2M5MmUwNGE5YzI3ZDNiZTgwYjBlNzU5M2VjM2Q4YTNhNzczYWQ4">
                                </div>
                                <div class="desc">
                                    <h3 title="Xbox 无线控制器">
                                        Xbox 无线控制器</h3>
                                    <p>个性外观，难忘触感</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 359</strong>
                                                &nbsp;起</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- 系列 电脑与配件 -->
            <div class="channel">
                <div class="container">
                    <div class="channel-name">电脑与配件</div>
                    <ul>
                        <li class="guide"
                            style="background-image:url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017ComputerGuide-Media?context=bWFzdGVyfGltYWdlc3w0NDY4MHxpbWFnZS9wbmd8aW1hZ2VzL2gxMi9oNTgvMTAwODgxMjU3MjY3NTAucG5nfDk1MWZkMGMwMmEwNWNhMWU3N2JkYWU3ZWE3Y2M4NzM5N2E4ZThjZGFiNjE0ZmNiMTQxMzEwYTRiOTUyN2M0MGM')">
                            <div class="inner">
                                <p>精选品牌<br>Windows 10电脑与配件</p>
                                <a href="#" class="viewmore" title="查看更多>电脑与配件" href="#">查看更多&gt;</a>
                            </div>
                        </li>
                        <li>
                            <a class="inner" href="#" title="Azure Kinect DK" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-01?context=bWFzdGVyfGltYWdlc3w5ODA0NnxpbWFnZS9wbmd8aW1hZ2VzL2gyZi9oOTIvMTAwODgxMjY0ODA0MTQucG5nfDJiZTZhZjQ5ZjE2NTY0YThhN2JkM2Q2ODYxODA3NTA3ZjEzZjk5NWNkNDg1MGVlYzRkMWY1YjA0NTA5NGYxMmM"
                                        alt="Azure Kinect DK" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-01?context=bWFzdGVyfGltYWdlc3w5ODA0NnxpbWFnZS9wbmd8aW1hZ2VzL2gyZi9oOTIvMTAwODgxMjY0ODA0MTQucG5nfDJiZTZhZjQ5ZjE2NTY0YThhN2JkM2Q2ODYxODA3NTA3ZjEzZjk5NWNkNDg1MGVlYzRkMWY1YjA0NTA5NGYxMmM">
                                </div>
                                <div class="desc">
                                    <h3 title="Azure Kinect DK">
                                        Azure Kinect DK</h3>
                                    <p>用于构建高级计算机视觉和语音模型的开发工具包</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 2,988</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="微软 Sculpt 无线便携鼠标" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-02?context=bWFzdGVyfGltYWdlc3wxMTQ2OTB8aW1hZ2UvcG5nfGltYWdlcy9oZGQvaGYxLzEwMDg4MTI2NTc4NzE4LnBuZ3w5NzUwNzAwMWE4NmU1ZWM2OWNjNTQ0M2E4MjFhZDE1MDk3ODEwZWI2ZWQ4YjhiMDlhODJhNGVjOWY1NWU0N2Zm"
                                        alt="微软 Sculpt 无线便携鼠标" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-02?context=bWFzdGVyfGltYWdlc3wxMTQ2OTB8aW1hZ2UvcG5nfGltYWdlcy9oZGQvaGYxLzEwMDg4MTI2NTc4NzE4LnBuZ3w5NzUwNzAwMWE4NmU1ZWM2OWNjNTQ0M2E4MjFhZDE1MDk3ODEwZWI2ZWQ4YjhiMDlhODJhNGVjOWY1NWU0N2Zm">
                                </div>
                                <div class="desc">
                                    <h3 title="微软 Sculpt 无线便携鼠标">
                                        微软 Sculpt 无线便携鼠标</h3>
                                    <p>Windows 按钮可快速查看“开始”菜单，蓝影追踪技术，适用于多种表面</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 139</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="inner" href="#" title="微软精准鼠标" href="#">
                                <div class="img">
                                    <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-03?context=bWFzdGVyfGltYWdlc3w3NTg1MXxpbWFnZS9wbmd8aW1hZ2VzL2g4YS9oZDAvMTAwODgxMjY2MTE0ODYucG5nfDJiNjY5ZTViZDc3Yzk0N2Y1MjdjOGYxZjFjMzAzMzk2MjJhM2Q4ZjBjZmEzNWQyMDRlOWRlMjdmYTU3YjNkZjQ"
                                        alt="微软精准鼠标" class=" lazyloaded"
                                        src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017ProductComputer-03?context=bWFzdGVyfGltYWdlc3w3NTg1MXxpbWFnZS9wbmd8aW1hZ2VzL2g4YS9oZDAvMTAwODgxMjY2MTE0ODYucG5nfDJiNjY5ZTViZDc3Yzk0N2Y1MjdjOGYxZjFjMzAzMzk2MjJhM2Q4ZjBjZmEzNWQyMDRlOWRlMjdmYTU3YjNkZjQ">
                                </div>
                                <div class="desc">
                                    <h3 title="微软精准鼠标">
                                        微软精准鼠标</h3>
                                    <p>支持 USB 和蓝牙两种连接方式，侧键可自定义，控制更精准</p>
                                    <div class="active">
                                        <div class="price">
                                            <span>

                                                售价：<strong>¥ 765</strong>
                                                &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>




        </div>