  <!-- 产品推荐 -->
  <div class="product-recommend">
      <div class="container">
          <div class="ls-title">店长推荐
          </div>
          <div class="ls-content">
              <ul>
                  <li>
                      <a class="img" href="#" title="Surface Pro 6">
                          <div class="img">
                              <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-00?context=bWFzdGVyfGltYWdlc3w1NDUwMnxpbWFnZS9wbmd8aW1hZ2VzL2g0Zi9oMmMvMTAxMzE1NjMxMTg2MjIucG5nfDk0NTliZjg4ZTliYzM4NDVkM2UxOWU2MTY0OTQ0MWVlYWQ1OWQ2ZWQ5ZWZkOWU4ZjU1Y2E3YjhjODQ2NzdjMjc"
                                  alt="Surface Pro 6" class=" lazyloaded"
                                  src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-00?context=bWFzdGVyfGltYWdlc3w1NDUwMnxpbWFnZS9wbmd8aW1hZ2VzL2g0Zi9oMmMvMTAxMzE1NjMxMTg2MjIucG5nfDk0NTliZjg4ZTliYzM4NDVkM2UxOWU2MTY0OTQ0MWVlYWQ1OWQ2ZWQ5ZWZkOWU4ZjU1Y2E3YjhjODQ2NzdjMjc">
                          </div>
                          <div class="name">
                              <h4 title="Surface Pro 6">Surface Pro 6</h4>
                              <p>酷睿 i5 8GB 256GB</p>
                          </div>
                          <div class="price">
                              <s></s>
                              <span>售价：<strong>¥ 8,958</strong>
                                  &nbsp;起</span>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a class="img" href="#" title="认证翻新 Surface Go">
                          <div class="img">
                              <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-01?context=bWFzdGVyfGltYWdlc3w0NjQ2NnxpbWFnZS9wbmd8aW1hZ2VzL2gxNi9oOTQvMTAxNDE5NzM5NzA5NzQucG5nfDQwZTRjMzQ4YWVhZWY1MzVkYzc1NjdiNjQ1NDQ4NzA2NTlkMWZlYThhYzUyZDFlZjc2YzA4NDJhN2FkMjVjMDc"
                                  alt="认证翻新 Surface Go" class=" lazyloaded"
                                  src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-01?context=bWFzdGVyfGltYWdlc3w0NjQ2NnxpbWFnZS9wbmd8aW1hZ2VzL2gxNi9oOTQvMTAxNDE5NzM5NzA5NzQucG5nfDQwZTRjMzQ4YWVhZWY1MzVkYzc1NjdiNjQ1NDQ4NzA2NTlkMWZlYThhYzUyZDFlZjc2YzA4NDJhN2FkMjVjMDc">
                          </div>
                          <div class="name">
                              <h4 title="微软认证翻新 Surface Go">
                                  微软认证翻新 Surface Go</h4>
                              <p>英特尔 4415Y 4GB 64GB</p>
                          </div>
                          <div class="price">
                              <s></s>
                              <span>

                                  售价：<strong>¥ 2,376</strong>
                                  &nbsp;起</span>
                          </div>
                          <span class="tag" style="background-color: #e71224">直降</span>
                      </a>
                  </li>
                  <li>
                      <a class="img" href="#" title="Surface Laptop 2">
                          <div class="img">
                              <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-02?context=bWFzdGVyfGltYWdlc3w2OTYyOHxpbWFnZS9wbmd8aW1hZ2VzL2gxNC9oZmQvMTAxMzE1NjMxODQxNTgucG5nfGI0Yzg2ZTEzNTI1Y2VmYjQ4ZDhmNzNlZmJjZDg4NTY5ZmVjODM5MjlhMGZkNGE1NDQ4MDNjZmY5YzFjZDY2MjM"
                                  alt="Surface Laptop 2" class=" lazyloaded"
                                  src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-02?context=bWFzdGVyfGltYWdlc3w2OTYyOHxpbWFnZS9wbmd8aW1hZ2VzL2gxNC9oZmQvMTAxMzE1NjMxODQxNTgucG5nfGI0Yzg2ZTEzNTI1Y2VmYjQ4ZDhmNzNlZmJjZDg4NTY5ZmVjODM5MjlhMGZkNGE1NDQ4MDNjZmY5YzFjZDY2MjM">
                          </div>
                          <div class="name">
                              <h4 title="Surface Laptop 2">
                                  Surface Laptop 2</h4>
                              <p>酷睿 i5 8GB 256GB</p>
                          </div>
                          <div class="price">
                              <s></s>
                              <span>

                                  售价：<strong>¥ 9,728</strong>
                                  &nbsp;起</span>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a class="img" href="#" title="Surface Book 2">
                          <div class="img">
                              <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-03?context=bWFzdGVyfGltYWdlc3wxMjE1NDd8aW1hZ2UvcG5nfGltYWdlcy9oY2MvaDRjLzEwMTMxNTYzMjE2OTI2LnBuZ3w0OWFmNTcwNzUyMWRlMTYyOTY0Mjk3YzhiMTEwOWVhZjY3NWQwYTgyYmRhNzViZWEyMmQ1YzI5YjE5OTE4ZjZi"
                                  alt="Surface Book 2" class=" lazyloaded"
                                  src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-03?context=bWFzdGVyfGltYWdlc3wxMjE1NDd8aW1hZ2UvcG5nfGltYWdlcy9oY2MvaDRjLzEwMTMxNTYzMjE2OTI2LnBuZ3w0OWFmNTcwNzUyMWRlMTYyOTY0Mjk3YzhiMTEwOWVhZjY3NWQwYTgyYmRhNzViZWEyMmQ1YzI5YjE5OTE4ZjZi">
                          </div>
                          <div class="name">
                              <h4 title="Surface Book 2">
                                  Surface Book 2</h4>
                              <p>13.5 英寸酷睿 i7 256GB</p>
                          </div>
                          <div class="price">
                              <s></s>
                              <span>
                                  <span>售价：<strong>¥ 16,068</strong> 起</span></span>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a class="img" href="#" title="微软 HoloLens 2">
                          <div class="img">
                              <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-04?context=bWFzdGVyfGltYWdlc3w1NDgwMHxpbWFnZS9wbmd8aW1hZ2VzL2g1Yi9oNzYvMTAxMzE1NjMyNDk2OTQucG5nfDRmMmVhMzZjNDM3YTc2MDRhOTY3YmVkOGNjYWFkM2UwYjViZWE4MzY3NGRkMzZjMTg5OTBjZjRjYzkyM2Q5MjA"
                                  alt="微软 HoloLens 2" class=" lazyloaded"
                                  src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017Reference-04?context=bWFzdGVyfGltYWdlc3w1NDgwMHxpbWFnZS9wbmd8aW1hZ2VzL2g1Yi9oNzYvMTAxMzE1NjMyNDk2OTQucG5nfDRmMmVhMzZjNDM3YTc2MDRhOTY3YmVkOGNjYWFkM2UwYjViZWE4MzY3NGRkMzZjMTg5OTBjZjRjYzkyM2Q5MjA">
                          </div>
                          <div class="name">
                              <h4 title="微软 HoloLens 2">
                                  微软 HoloLens 2</h4>
                              <p>混合现实商用就绪</p>
                          </div>
                          <div class="price">
                              <s></s>
                              <span>
                              </span>
                          </div>
                      </a>
                  </li>
              </ul>




          </div>
      </div>


  </div>
