 <!-- 产品菜单   -->
 <div class="product-menu">
     <div class="container">

         <!-- 侧边菜单 -->
         <div class="slider-menu">
             <div class="wrapper">
                 <ul>
                     <li class="title"><span>产品类别</span></li>
                     <li>
                         <a href="#">
                             全新 Surface Studio 2</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Headphones</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Go</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Pro 6</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Laptop 2</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Book 2</a>
                     </li>
                     <li>
                         <a href="#">
                             认证翻新Surface</a>
                     </li>
                     <li>
                         <a href="#">
                             Xbox+游戏</a>
                     </li>
                     <li>
                         <a href="#">
                             Office</a>
                     </li>
                     <li>
                         <a href="#">
                             Windows</a>
                     </li>
                     <li>
                         <a href="#">
                             混合现实</a>
                     </li>
                 </ul>
             </div>
         </div>

         <!-- 产品列表 -->
         <div class="pro-list">
             <ul id="navGoods">

             </ul>





         </div>

     </div>

 </div>