 <!-- 产品菜单   -->
 <div class="product-menu">
     <div class="container">

         <!-- 侧边菜单 -->
         <div class="slider-menu">
             <div class="wrapper">
                 <ul>
                     <li class="title"><span>产品类别</span></li>
                     <li>
                         <a href="#">
                             全新 Surface Studio 2</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Headphones</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Go</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Pro 6</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Laptop 2</a>
                     </li>
                     <li>
                         <a href="#">
                             Surface Book 2</a>
                     </li>
                     <li>
                         <a href="#">
                             认证翻新Surface</a>
                     </li>
                     <li>
                         <a href="#">
                             Xbox+游戏</a>
                     </li>
                     <li>
                         <a href="#">
                             Office</a>
                     </li>
                     <li>
                         <a href="#">
                             Windows</a>
                     </li>
                     <li>
                         <a href="#">
                             混合现实</a>
                     </li>
                 </ul>
             </div>
         </div>

         <!-- 产品列表 -->
         <div class="pro-list">



             <ul>
                 <li>
                     <a href="#" title="Surface">
                         <div class="img">
                             <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017FourNav-Media-01?context=bWFzdGVyfGltYWdlc3wxNzk2M3xpbWFnZS9qcGVnfGltYWdlcy9oMzQvaDcxLzEwMTMxNTYzMDUzMDg2LmpwZ3xhNThlYjE3MGY3YWE0ZDJjNmRlOTM3ZjA0ZWRiNzVmMWQ4MTRlNmY2ZGE2NzJiMzIxYTY1MGFhNGE3ZDEyNTZj"
                                 alt="Surface" class=" lazyloaded"
                                 src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017FourNav-Media-01?context=bWFzdGVyfGltYWdlc3wxNzk2M3xpbWFnZS9qcGVnfGltYWdlcy9oMzQvaDcxLzEwMTMxNTYzMDUzMDg2LmpwZ3xhNThlYjE3MGY3YWE0ZDJjNmRlOTM3ZjA0ZWRiNzVmMWQ4MTRlNmY2ZGE2NzJiMzIxYTY1MGFhNGE3ZDEyNTZj">
                             <div class="tag"><span style="background-color: #e71224">直降</span></div>
                         </div>
                         <p>Surface Pro（第五代）酷睿 m3 128GB 键盘盖套餐立省￥268</p>
                         <span class="more">立即购买 &gt;</span>
                     </a>
                 </li>
                 <li>
                     <a href="#" title="Xbox">
                         <div class="img">
                             <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017FourNav-Media-02?context=bWFzdGVyfGltYWdlc3wxMjAwMXxpbWFnZS9qcGVnfGltYWdlcy9oNDEvaGNlLzEwMTMxNTYzMDg1ODU0LmpwZ3xhNmY0ZmRkMWUwNTYzYTM2OThhNmUwMWY0ZDhmNjVmOWU0MTIzYjUxZDZiNTExYmU2ZTI1NTJkNWEzMzhlYzUz"
                                 alt="Xbox" class=" lazyloaded"
                                 src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017FourNav-Media-02?context=bWFzdGVyfGltYWdlc3wxMjAwMXxpbWFnZS9qcGVnfGltYWdlcy9oNDEvaGNlLzEwMTMxNTYzMDg1ODU0LmpwZ3xhNmY0ZmRkMWUwNTYzYTM2OThhNmUwMWY0ZDhmNjVmOWU0MTIzYjUxZDZiNTExYmU2ZTI1NTJkNWEzMzhlYzUz">
                         </div>
                         <p>Xbox One X 1TB 冰雪白特别版，感受真实的力量</p>
                         <span class="more">立即购买 &gt;</span>
                     </a>
                 </li>
                 <li>
                     <a href="#" title="Office 365">
                         <div class="img">
                             <img data-src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017FourNav-Media-03?context=bWFzdGVyfGltYWdlc3w2MzcyfGltYWdlL2pwZWd8aW1hZ2VzL2gwYS9oOTUvMTAxMTAwNjc3MDM4MzguanBnfGQyOWZiNWRkOGI5NGEzNmNjMjQ5N2ZkMTYxZDhiNjlkYjc4YzZhMTdiMTRhNTkwNjI0YzA3N2E3YjUxNmJmYWY"
                                 alt="Office 365" class=" lazyloaded"
                                 src="https://imgazure.microsoftstore.com.cn/medias/HomePage2017FourNav-Media-03?context=bWFzdGVyfGltYWdlc3w2MzcyfGltYWdlL2pwZWd8aW1hZ2VzL2gwYS9oOTUvMTAxMTAwNjc3MDM4MzguanBnfGQyOWZiNWRkOGI5NGEzNmNjMjQ5N2ZkMTYxZDhiNjlkYjc4YzZhMTdiMTRhNTkwNjI0YzA3N2E3YjUxNmJmYWY">
                         </div>
                         <p>全新升级：现支持多部 PC/Mac、平板和手机，家庭版多达6人共享</p>
                         <span class="more">立即购买 &gt;</span>
                     </a>
                 </li>
             </ul>





         </div>

     </div>

 </div>
