<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>活动页</title>
    <link rel="shortcut icon"
        href="https://aadcdn.msauth.net/ests/2.1/content/images/favicon_a_eupayfgghqiai7k9sol6lg2.ico">
    <link rel="stylesheet" href="../styles/normal.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/viewpager.css">
    <link rel="stylesheet" href="../styles/active.css">
</head>

<body>

    <!-- 公共头部 -->
    @@include("./share/_blobalHeader.htm")

    <div class="activeContainer">
        <!-- 内容区 -->
        @@include("./active/_content.htm")
    </div>


    <!-- 侧边工具栏 -->
    @@include("./share/_effect.htm")
    <!-- 公共尾部 -->
    @@include("./share/_blobalFooter.htm")
    @@include("./share/_foot.htm",{
    "foot":""
    })
</body>

</html>