<!DOCTYPE html>
<html lang="en">
@@include("./share/_head.htm",{
"title":"微软商城",
"head":""
})

<body>
    @@include("./share/_blobalHeader.htm")

    <!-- 内容区 -->

    <div class="msStroreHome">
        <!-- 轮播图 -->
        @@include("./index/_banner.htm")

        <!-- 产品菜单   -->
        @@include("./index/_productNav.htm")
        <!-- 产品推荐 -->
        @@include("./index/_productRecom.htm")

        <!-- 产品系列 -->
        @@include("./index/_channels.htm")
        <!-- APP 系列 -->

        @@include("./index/_app.htm")


        <!-- 产品服务 -->

        @@include("./index/_service.htm")


    </div>


    @@include("./share/_blobalFooter.htm")

    @@include("./share/_foot.htm",{
    "foot":""
    })
</body>

</html>