<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微软商城</title>
    <meta name="referrer" content="no-referrer" />
    <link rel="shortcut icon"
        href="https://aadcdn.msauth.net/ests/2.1/content/images/favicon_a_eupayfgghqiai7k9sol6lg2.ico">
    <link rel="stylesheet" href="../styles/normal.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
</head>


<body>
    @@include("./share/_blobalHeader.htm")

    <!-- 内容区 -->

    <div class="msStroreHome">
        <!-- 轮播图 -->
        @@include("./index/_banner.htm")

        <!-- 产品菜单   -->
        @@include("./index/_productNav.htm")
        <!-- 产品推荐 -->
        @@include("./index/_productRecom.htm")

        <!-- 产品系列 -->
        @@include("./index/_channels.htm")
        <!-- APP 系列 -->

        @@include("./index/_app.htm")

        <!-- 产品服务 -->

        @@include("./index/_service.htm")

        <!-- 侧边工具栏 -->
        @@include("./share/_effect.htm")

    </div>


    @@include("./share/_blobalFooter.htm")

    @@include("./share/_foot.htm",{
    "foot":""
    })
</body>

</html>