@charset "UTF-8";
.activeContainer h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }

.activeContainer h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold; }

.activeContainer a {
  text-decoration: none;
  color: #0067b8; }

.activeContainer nav.banner {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 0.90909091%; }

.activeContainer .mainContainer {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto; }

.activeContainer .homeNav {
  margin-bottom: 0; }
  .activeContainer .homeNav .mainContainer {
    margin-bottom: 1.69491525%; }

.activeContainer .surfaceNav {
  margin-top: 15px;
  text-align: center; }
  .activeContainer .surfaceNav ul li {
    display: inline-block;
    margin: 10px 25px 0 25px; }
    .activeContainer .surfaceNav ul li a {
      color: #0067b8;
      font-size: 16px;
      white-space: nowrap;
      word-break: break-all; }

.activeContainer .surfaceMain {
  text-align: center; }
  .activeContainer .surfaceMain .mainContainer .desc {
    font-size: 16px;
    margin-top: 10px;
    color: #000; }
  .activeContainer .surfaceMain .mainContainer .surfaceMainList {
    font-size: 0; }
    .activeContainer .surfaceMain .mainContainer .surfaceMainList > li {
      font-size: 14px;
      margin-top: 30px;
      display: inline-block;
      width: 49.2%;
      text-align: left; }
      .activeContainer .surfaceMain .mainContainer .surfaceMainList > li .surfaceMainWrapper {
        color: #000;
        text-decoration: none;
        font-size: 14px; }
        .activeContainer .surfaceMain .mainContainer .surfaceMainList > li .surfaceMainWrapper img {
          width: 100%;
          height: auto; }
        .activeContainer .surfaceMain .mainContainer .surfaceMainList > li .surfaceMainWrapper > .buy {
          color: #0067b8;
          margin-top: 10px;
          display: inline-block;
          font-size: 16px; }
    .activeContainer .surfaceMain .mainContainer .surfaceMainList > li:nth-child(odd) {
      margin-right: 0.8%; }
    .activeContainer .surfaceMain .mainContainer .surfaceMainList > li:nth-child(even) {
      margin-left: 0.8%; }
    .activeContainer .surfaceMain .mainContainer .surfaceMainList > li.fullsize {
      width: 100%;
      text-align: center;
      margin-left: 0;
      margin-right: 0; }

.activeContainer .moreSurface .mainContainer > ul {
  font-size: 0;
  border: 1px solid #e7e7e7; }
  .activeContainer .moreSurface .mainContainer > ul > li {
    vertical-align: top;
    font-size: 14px;
    color: #000;
    display: inline-block;
    width: 25%;
    position: relative;
    border-right: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px; }
    .activeContainer .moreSurface .mainContainer > ul > li .moreSurfaceImg {
      display: block;
      margin: 0 auto;
      width: 90%;
      height: auto; }
    .activeContainer .moreSurface .mainContainer > ul > li .desc {
      margin-top: 15px;
      line-height: 20px;
      margin-bottom: 80px; }
    .activeContainer .moreSurface .mainContainer > ul > li .price {
      position: absolute;
      left: 20px;
      bottom: 50px;
      color: #d83b01;
      font-size: 16px; }
    .activeContainer .moreSurface .mainContainer > ul > li .buy {
      color: #0067b8;
      font-size: 16px;
      position: absolute;
      left: 20px;
      bottom: 20px; }

.activeContainer .accessoriesDes {
  margin-top: 20px; }
  .activeContainer .accessoriesDes .inner {
    overflow: hidden;
    position: relative; }
    .activeContainer .accessoriesDes .inner:after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 50%; }
    .activeContainer .accessoriesDes .inner .block {
      display: block;
      position: absolute;
      text-align: center;
      overflow: hidden; }
      .activeContainer .accessoriesDes .inner .block img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1; }
      .activeContainer .accessoriesDes .inner .block.left {
        width: 50%;
        left: 0;
        top: 0; }
        .activeContainer .accessoriesDes .inner .block.left:after {
          content: '';
          display: block;
          width: 100%;
          padding-top: 100%; }
      .activeContainer .accessoriesDes .inner .block.right {
        width: 25%;
        right: 0;
        top: 0; }
        .activeContainer .accessoriesDes .inner .block.right:after {
          content: '';
          display: block;
          width: 100%;
          padding-top: 100%; }
      .activeContainer .accessoriesDes .inner .block.bottom {
        width: 50%;
        right: 0;
        bottom: 0; }
        .activeContainer .accessoriesDes .inner .block.bottom:after {
          content: '';
          display: block;
          width: 100%;
          padding-top: 50%; }
    .activeContainer .accessoriesDes .inner .block.darkText {
      width: 25%;
      right: 25%;
      top: 0;
      color: #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .activeContainer .accessoriesDes .inner .block.darkText h2 {
        font-size: 18px;
        margin: 30px 0 20px 0; }
      .activeContainer .accessoriesDes .inner .block.darkText .more {
        display: inline-block;
        color: #fff;
        font-size: 16px;
        position: absolute;
        bottom: 30px;
        width: 100%;
        left: 0;
        text-align: center; }
      .activeContainer .accessoriesDes .inner .block.darkText p {
        font-size: 14px;
        text-align: left; }
      .activeContainer .accessoriesDes .inner .block.darkText .container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      .activeContainer .accessoriesDes .inner .block.darkText:after {
        content: '';
        display: block;
        width: 100%;
        padding-top: 100%; }

.activeContainer .categoryIntroduce {
  margin-top: 20px;
  margin-bottom: 70px; }
  .activeContainer .categoryIntroduce h1,
  .activeContainer .categoryIntroduce h2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 16px;
    color: #000; }
  .activeContainer .categoryIntroduce p {
    font-size: 14px;
    line-height: 20px; }
  .activeContainer .categoryIntroduce li {
    font-size: 14px;
    line-height: 20px;
    color: #1a1a1a; }
    .activeContainer .categoryIntroduce li:before {
      content: "• "; }
