a {
  text-decoration: none;
  color: #337ab7; }

input[type=text],
input[type=number],
input[type=tel] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: ""; }

.widgetButton {
  width: 150px;
  height: 36px;
  line-height: 36px;
  background-color: #d83b01;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  position: relative; }

.vector {
  vertical-align: middle;
  display: inline-block; }

.cartContainer {
  margin: auto;
  width: 90%;
  max-width: 1180px;
  padding: 25px 0; }
  .cartContainer .f-l {
    float: left; }
  .cartContainer .f-r {
    float: right; }

.main-wrapper {
  float: left;
  width: 70%; }

.sider-wrapper {
  float: right;
  width: 26%; }

.title {
  position: relative; }
  .title h1 {
    font-size: 1.125em;
    font-weight: normal; }
    .title h1 .h-l {
      color: #f62f24; }

.cartList {
  margin-top: 15px;
  color: #666;
  min-height: 160px; }
  .cartList .col-1,
  .cartList .col-2,
  .cartList .col-3,
  .cartList .col-4 {
    font-size: 14px; }
  .cartList header {
    height: 32px; }
    .cartList header .col-1,
    .cartList header .col-2,
    .cartList header .col-3,
    .cartList header .col-4 {
      line-height: 32px; }
    .cartList header .col-3,
    .cartList header .col-4 {
      display: block; }
  .cartList .cart-item {
    border-top: 1px solid #d3d3d3; }
    .cartList .cart-item:last-of-type > div:last-of-type {
      padding-bottom: 0; }
    .cartList .cart-item .cart-item-tray {
      padding: 20px 0;
      height: 120px; }
      .cartList .cart-item .cart-item-tray .img {
        width: 100%;
        overflow: hidden;
        position: relative; }
        .cartList .cart-item .cart-item-tray .img .product-img {
          max-width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0; }
        .cartList .cart-item .cart-item-tray .img:after {
          content: "";
          display: block;
          padding-top: 60%; }
      .cartList .cart-item .cart-item-tray .del {
        font-size: 14px;
        margin-top: 10px;
        text-align: center; }
        .cartList .cart-item .cart-item-tray .del a {
          color: #666;
          text-decoration: underline; }
      .cartList .cart-item .cart-item-tray h2 {
        font-size: 16px;
        font-weight: normal; }
        .cartList .cart-item .cart-item-tray h2 a {
          color: #333; }
      .cartList .cart-item .cart-item-tray .info a {
        text-decoration: none;
        line-height: 1em; }
      .cartList .cart-item .cart-item-tray .info > p:first-of-type {
        margin-top: 10px; }
      .cartList .cart-item .cart-item-tray .info > p {
        font-size: 14px;
        line-height: 21px; }
      .cartList .cart-item .cart-item-tray .price p:first-of-type {
        text-align: center;
        color: #d83b01; }
      .cartList .cart-item .cart-item-tray .price p:last-of-type {
        text-align: center; }
      .cartList .cart-item .cart-item-tray .quantity .sub,
      .cartList .cart-item .cart-item-tray .quantity .plus {
        display: inline-block;
        padding: 3px;
        width: 15px;
        height: 15px;
        background: #d3d3d3;
        color: #333;
        cursor: pointer; }
      .cartList .cart-item .cart-item-tray .quantity input {
        vertical-align: middle;
        display: inline-block;
        height: 19px;
        width: 26px;
        padding: 0;
        border: 1px solid #d3d3d3;
        line-height: 21px;
        font-size: 14px;
        text-align: center; }
    .cartList .cart-item .float-summary {
      display: none;
      background: rgba(255, 255, 255, 0.9); }
      .cartList .cart-item .float-summary p {
        height: 35px;
        line-height: 35px; }
        .cartList .cart-item .float-summary p > span:last-of-type {
          color: #333;
          margin-left: 0.5em; }
      .cartList .cart-item .float-summary .total {
        font-weight: bold; }
  .cartList .col-1 {
    float: left;
    width: 16%;
    text-align: center;
    margin: 0 1%;
    min-width: 100px;
    overflow: hidden; }
  .cartList .col-2 {
    float: left;
    width: 40%;
    margin: 0 1%; }
  .cartList .col-3 {
    float: right;
    text-align: center;
    width: 15%;
    margin: 0 1%; }
  .cartList .col-4 {
    width: 15%;
    float: right;
    margin: 0 1%;
    text-align: center; }

.checkoutBox {
  margin: 0 auto 0;
  padding-bottom: 22px;
  border-bottom: 1px solid #d3d3d3; }
  .checkoutBox .goumaibtn {
    height: 60px; }
  .checkoutBox .fixed {
    position: fixed;
    width: 23.4%;
    max-width: 306px; }
  .checkoutBox > div .font-black {
    color: #000; }
  .checkoutBox > div .checkOut {
    margin-top: 25px; }
  .checkoutBox > div.allWrap {
    padding-top: 10px;
    height: 38px;
    font-weight: bold; }
    .checkoutBox > div.allWrap .f-l {
      font-size: 18px; }
    .checkoutBox > div.allWrap .price-num {
      font-size: 18px; }
  .checkoutBox > div {
    font-size: 14px;
    line-height: 28px; }
    .checkoutBox > div .price-num {
      color: #d83b01; }
    .checkoutBox > div .font-black {
      color: #000; }
    .checkoutBox > div .checkOut {
      margin-top: 25px; }
  .checkoutBox .feature_box {
    text-align: right;
    margin-top: 20px; }
    .checkoutBox .feature_box .break_line {
      display: inline-block; }
    .checkoutBox .feature_box .feature {
      line-height: 30px;
      display: inline-block;
      text-align: left;
      width: 125px;
      white-space: nowrap;
      margin-left: 20px; }
      .checkoutBox .feature_box .feature .icon {
        width: 20px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px; }
  .checkoutBox > p:nth-of-type(1) {
    margin-top: 15px; }
  .checkoutBox > p {
    color: #666;
    font-size: 12px;
    line-height: 21px;
    text-align: right; }
  .checkoutBox > p:nth-of-type(n + 2) {
    margin-top: 15px; }
