<!-- 商品信息渲染位 -->
<div class="pdpInfo pdpBlock block_2">
    <div class="pdp_module_info">
        <div class="title cutline">
            <!-- 商品名字渲染位 -->
            <h1 id="gosName" tabindex="0">Office 365 订阅 - 1年新订或续订<br>个人版激活密钥</h1>
            <!--duplicate IDs to remove for Accessibility-->
        </div>

        <div class="priceAndRank">
            <div class="priceName">
                <span class="marketPrice">品牌建议零售价 :</span>
                <br>
                <span class="current">售价 :</span>
            </div>
            <!-- 商品价格渲染位 -->
            <span id="voice-price-suggest" style="display: none;">品牌建议售价 ¥ 398</span>
            <span id="voice-price-new" style="display: none;">售价 ¥ 398</span>
            <ul class="price">
                <li tabindex="0" aria-labelledby="voice-price-suggest" class="marketPrice">¥ 398</li>
                <li tabindex="0" aria-labelledby="voice-price-new" class="current"><b>¥ 398</b></li>
            </ul>
            <div class="rank">
                <a href="#comment"
                    data-m="{&quot;cN&quot;:&quot;（74条评论）&quot;,&quot;id&quot;:&quot;-13693078991&quot;}">
                    <span class="stars">
                        <div class="vector-icon star" data-name="star"
                            style="width: 20px; height: 20px; line-height: 0; vertical-align: middle; overflow: hidden;">
                            <svg width="100%" height="100%" viewBox="0 0 18 17" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                                <title>star</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g fill="#da3b01">
                                        <g>
                                            <polygon
                                                points="18 6.8 17.8 6.2 11.5 6 9.3 0 8.8 0 6.6 6 0.2 6.2 0 6.7 5.1 10.6 3.3 16.6 3.8 17 9 13.4 14.2 17 14.8 16.6 12.9 10.6">
                                            </polygon>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div class="vector-icon star" data-name="star"
                            style="width: 20px; height: 20px; line-height: 0; vertical-align: middle; overflow: hidden;">
                            <svg width="100%" height="100%" viewBox="0 0 18 17" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                                <title>star</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g fill="#da3b01">
                                        <g>
                                            <polygon
                                                points="18 6.8 17.8 6.2 11.5 6 9.3 0 8.8 0 6.6 6 0.2 6.2 0 6.7 5.1 10.6 3.3 16.6 3.8 17 9 13.4 14.2 17 14.8 16.6 12.9 10.6">
                                            </polygon>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div class="vector-icon star" data-name="star"
                            style="width: 20px; height: 20px; line-height: 0; vertical-align: middle; overflow: hidden;">
                            <svg width="100%" height="100%" viewBox="0 0 18 17" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                                <title>star</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g fill="#da3b01">
                                        <g>
                                            <polygon
                                                points="18 6.8 17.8 6.2 11.5 6 9.3 0 8.8 0 6.6 6 0.2 6.2 0 6.7 5.1 10.6 3.3 16.6 3.8 17 9 13.4 14.2 17 14.8 16.6 12.9 10.6">
                                            </polygon>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div class="vector-icon star" data-name="star"
                            style="width: 20px; height: 20px; line-height: 0; vertical-align: middle; overflow: hidden;">
                            <svg width="100%" height="100%" viewBox="0 0 18 17" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                                <title>star</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g fill="#da3b01">
                                        <g>
                                            <polygon
                                                points="18 6.8 17.8 6.2 11.5 6 9.3 0 8.8 0 6.6 6 0.2 6.2 0 6.7 5.1 10.6 3.3 16.6 3.8 17 9 13.4 14.2 17 14.8 16.6 12.9 10.6">
                                            </polygon>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div class="vector-icon star" data-name="star"
                            style="width: 20px; height: 20px; line-height: 0; vertical-align: middle; overflow: hidden;">
                            <svg width="100%" height="100%" viewBox="0 0 18 17" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                                <title>star</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g fill="#da3b01">
                                        <g>
                                            <polygon
                                                points="18 6.8 17.8 6.2 11.5 6 9.3 0 8.8 0 6.6 6 0.2 6.2 0 6.7 5.1 10.6 3.3 16.6 3.8 17 9 13.4 14.2 17 14.8 16.6 12.9 10.6">
                                            </polygon>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                    </span>

                    <span class="num">（74条评论）</span>
                </a>
            </div>
        </div>

        <!-- =========================== PRODUCT COLOR ================================= -->
        <!-- =========================== PRODUCT VARIANT OPTION ================================= -->
        <div class="select cutline">
            <div class="selectTitle" tabindex="0">请选择配置</div>
            <!-- Get information about Group Name and Group Description from Category Object -->
            <div class="cons">
                <div class="con1 con active">
                    <div class="options">
                        <div class=" active option ">
                            <a href="/p/QQ2-00009"
                                data-m="{&quot;cN&quot;:&quot;个人版激活密钥 ¥ 398 1人使用&quot;,&quot;id&quot;:&quot;13112247751&quot;}">
                                <div class="optionInner">
                                    <div class="texts">
                                        <p class="name">个人版激活密钥</p>
                                        <div class="price">
                                            <span class="current">¥ 398</span>
                                            <del class="marketPrice"></del>
                                        </div>
                                    </div>
                                    <div class="tag"
                                        style="white-space: nowrap;width: auto;padding: 3px 5px;background-color: #E81123;">
                                        1人使用</div>
                                </div>
                            </a>
                        </div>

                        <div class="  option ">
                            <a href="/p/6GQ-00089"
                                data-m="{&quot;cN&quot;:&quot;家庭版激活密钥 ¥ 498 6人使用&quot;,&quot;id&quot;:&quot;5965200401&quot;}">
                                <div class="optionInner">
                                    <div class="texts">
                                        <p class="name">家庭版激活密钥</p>
                                        <div class="price">
                                            <span class="current">¥ 498</span>
                                            <del class="marketPrice"></del>
                                        </div>
                                    </div>
                                    <div class="tag"
                                        style="white-space: nowrap;width: auto;padding: 3px 5px;background-color: #E81123;">
                                        6人使用</div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- =========================== Step2 selectBundleOrAlone ================================= -->
        <!-- =========================== WARRANTY PRODUCT PC================================= -->
        <div class="numbersAndBuy">
            <form id="add_to_cart_form" aria-label="提交"
                action="/office/office-365-personal/p/qq2-00009?irgwc=1&amp;OCID=AID2000142_aff_7808_1245846&amp;tduid=(ir__yej1bx1lq0kfrwqg0cgpjjqgoe2xjinj1h9nm0yk00)(7808)(1245846)(58787966)(246807)&amp;irclickid=_yej1bx1lq0kfrwqg0cgpjjqgoe2xjinj1h9nm0yk00"
                method="post"><input type="hidden" name="masterProductCode" class="selected-sku-change"
                    value="QQ2-00009">
                <input type="hidden" name="sourceBundleTemplateId" class="selected-sku-bundleId-change"
                    value="QQ2-00000_component_V1">
                <div class="num">
                    <span>数量：</span>
                    <div class="numbox">
                        <button type="button" class="sub" aria-label="减少数量"
                            data-m="{&quot;cN&quot;:&quot;减少数量&quot;,&quot;id&quot;:&quot;14129134701&quot;}">
                            <div class="vector-icon" data-name="sub"
                                style="width: 24px; height: 24px; line-height: 0; vertical-align: middle; overflow: hidden;">
                                <svg version="1.1" id="Rectangle_8_copy_9_1_" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
                                    height="100%" viewBox="0 0 24 24" enable-background="new 0 0 24 24"
                                    xml:space="preserve">
                                    <g id="Rectangle_8_copy_9">
                                        <g>
                                            <rect x="6" y="11" fill-rule="evenodd" clip-rule="evenodd" fill="#666666"
                                                width="12" height="2"></rect>
                                        </g>
                                    </g>
                                </svg></div>
                        </button>
                        <input type="number" name="quantity" value="1" min="1" max="5" class="numInput"
                            aria-label="商品数量">
                        <button type="button" class="add" aria-label="增加数量"
                            data-m="{&quot;cN&quot;:&quot;增加数量&quot;,&quot;id&quot;:&quot;14625164461&quot;}">
                            <div class="vector-icon" data-name="add_666"
                                style="width: 24px; height: 24px; line-height: 0; vertical-align: middle; overflow: hidden;">
                                <svg version="1.1" id="Rectangle_8_copy_8_1_" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"
                                    enable-background="new 0 0 24 24" xml:space="preserve">
                                    <g id="Rectangle_8_copy_8">
                                        <g>
                                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#666666" points="18,11 13,11 13,6 11,6 11,11 6,11 6,13 11,13 11,18 
			13,18 13,13 18,13 		"></polygon>
                                        </g>
                                    </g>
                                </svg></div>
                        </button>
                    </div>
                </div>
                <input type="text" style="display: none;">
                <input type="hidden" name="CSRFToken" value="3413ecb2-396d-44b4-867c-831c228dc6ee">
            </form>
            <div class="buy">
                <!-- 添加购物车的入口 -->
                <button id="addCard"  class="add2cart version2" data-type="stand-alone">加入购物车</button>
                <div class="tips">
                    <p>
                        <br>
                        <font color="#0078d7">付款后请至订单详情页获取密钥并安装激活</font>
                    </p>
                </div>
            </div>
        </div>
        <div class="qrcodeAndPromotions">
            <div class="content"></div>
        </div>
    </div>
    <div class="remindArrivalBox">
        <div class="content" tabindex="0">
            <p tabindex="0">该商品暂时无库存，请输入您的邮箱，我们将在到货后第一时间与您取得联系</p>
            <form id="notify-me-form" name="notify-me-form" action="/p/notifyEmailForRegular" method="POST"><input
                    value="请输入您的邮箱" data-defaultvalue="请输入您的邮箱" name="emailAddress">
                <input type="hidden" name="productCode" value="QQ2-00009">
                <input type="hidden" name="CSRFToken" value="3413ecb2-396d-44b4-867c-831c228dc6ee">
            </form>
            <div class="btns">
                <button href="javascript:;" class="confirm"
                    data-m="{&quot;cN&quot;:&quot;确认&quot;,&quot;id&quot;:&quot;-7504970481&quot;}">确认</button>
                <button href="javascript:;" class="cancel"
                    data-m="{&quot;cN&quot;:&quot;取消&quot;,&quot;id&quot;:&quot;-7507951641&quot;}">取消</button>
            </div>
        </div>
    </div>
    <div class="remindSuccessBox">
        <div class="content" tabindex="0">
            <p tabindex="0">您已成功订阅该商品，我们将在到货后第一时间以邮件告知</p>
            <div class="btns">
                <button href="javascript:;" class="confirm"
                    data-m="{&quot;cN&quot;:&quot;确定&quot;,&quot;id&quot;:&quot;-7505093461&quot;}">确定</button>
            </div>
        </div>
    </div>
    <div class="remindBuyBusinessBox">
        <div class="content" tabindex="0">
            <p tabindex="0">如需批量购买，请致电4008822059或在线咨询商城客服。</p>
            <p tabindex="0">也欢迎您到<a href="https://www.microsoftstore.com.cn/smb?lcid=upto5_SMBlink_20150715"
                    data-m="{&quot;cN&quot;:&quot;中小企业频道&quot;,&quot;id&quot;:&quot;10859702221&quot;}">中小企业频道</a>查看更多商品信息。
            </p>
            <div class="btns">
                <button href="javascript:;" class="confirm"
                >关闭</button>
            </div>
        </div>
    </div>


</div>