<!-- 侧边栏 -->
<div class="pdpSlider pdpBlock block_2">
    <div class="pdp_module_slider">
        <div class="p_wrapper">

            <!-- 侧边栏 图片渲染位 -->
            <div id="renderPicbox" class="slider_box">
                <ul class="img_list">
                    <li class="active" style="display: block;">
                        <img src="https://imgazure.microsoftstore.com.cn/medias/QQ2-00009-593Wx390H-1.png?context=bWFzdGVyfGltYWdlc3wzMTQ0NnxpbWFnZS9wbmd8aW1hZ2VzL2gwYy9oYmEvOTkzMjg0NTQ4MjAxNC5wbmd8OTlkOGU2M2NjNzA0YzA1ZjkxYTIxYWUyMWYxMjdiNTUzOGVjMWYzYjFkYWNlM2NlZDAyOGUzYjQwMGZjNjUwMA"
                            alt="Office 365 订阅 - 1年新订或续订" id="productImg">
                    </li>
                    <li class="" style="display: none;">
                        <img src="https://imgazure.microsoftstore.com.cn/medias/qq2-00009-593Wx390H-12.png?context=bWFzdGVyfGltYWdlc3w0NDc2NDZ8aW1hZ2UvcG5nfGltYWdlcy9oZmEvaDk4LzEwMDc2NzIyMjAwNjA2LnBuZ3w4OTM1M2FkYjYyNTZkZDE5NWU0YThmNGVjYmM4ZGU5YzFmMDJlNmIxY2ZhNGQyYTgyOGRmY2Y2NzYxMGQxOTc2"
                            alt="Office 365 订阅 - 1年新订或续订">
                    </li>
                </ul>
            </div>



            <div class="thumb_index_box">
                <button class="prev disable" aria-label="上一页"
                    data-m="{&quot;cN&quot;:&quot;上一页&quot;,&quot;id&quot;:&quot;-18014509311&quot;}">
                    <div class="vector-icon" data-name="previous"
                        style="width: 24px; height: 24px; line-height: 0; vertical-align: middle; overflow: hidden;">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                            <g>
                                <g>
                                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D7D7D7"
                                        points="15,6.7 14.4,6 9,12 14.4,18 15,17.3 10.2,12 		"></polygon>
                                </g>
                            </g>
                        </svg></div>
                </button>
                <div class="img_thumb_box">
                    <ul class="img_thumb_list">
                        <li class="active">
                            <button class="index_img_btn"
                                data-m="{&quot;cN&quot;:&quot;空内容&quot;,&quot;id&quot;:&quot;-1943377621&quot;}">
                                <img src="https://imgazure.microsoftstore.com.cn/medias/QQ2-00009-593Wx390H-1.png?context=bWFzdGVyfGltYWdlc3wzMTQ0NnxpbWFnZS9wbmd8aW1hZ2VzL2gwYy9oYmEvOTkzMjg0NTQ4MjAxNC5wbmd8OTlkOGU2M2NjNzA0YzA1ZjkxYTIxYWUyMWYxMjdiNTUzOGVjMWYzYjFkYWNlM2NlZDAyOGUzYjQwMGZjNjUwMA"
                                    alt="Office 365 订阅 - 1年新订或续订">
                            </button>
                        </li>
                        <li class="">
                            <button class="index_img_btn"
                                data-m="{&quot;cN&quot;:&quot;空内容&quot;,&quot;id&quot;:&quot;-1943377622&quot;}">
                                <img src="https://imgazure.microsoftstore.com.cn/medias/qq2-00009-593Wx390H-12.png?context=bWFzdGVyfGltYWdlc3w0NDc2NDZ8aW1hZ2UvcG5nfGltYWdlcy9oZmEvaDk4LzEwMDc2NzIyMjAwNjA2LnBuZ3w4OTM1M2FkYjYyNTZkZDE5NWU0YThmNGVjYmM4ZGU5YzFmMDJlNmIxY2ZhNGQyYTgyOGRmY2Y2NzYxMGQxOTc2"
                                    alt="Office 365 订阅 - 1年新订或续订">
                            </button>
                        </li>
                    </ul>
                </div>
                <button class="next" aria-label="下一页"
                    data-m="{&quot;cN&quot;:&quot;下一页&quot;,&quot;id&quot;:&quot;-18014499701&quot;}">
                    <div class="vector-icon" data-name="next"
                        style="width: 24px; height: 24px; line-height: 0; vertical-align: middle; overflow: hidden;">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                            <g>
                                <g>
                                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D7D7D7"
                                        points="9.6,6 9,6.7 13.8,12 9,17.3 9.6,18 15,12 		"></polygon>
                                </g>
                            </g>
                        </svg></div>
                </button>
            </div>
            <div class="desc cutline">
                <p tabindex="0" class="d1">• 1 名用户订阅 12 个月（选择家庭版支持多达 6 名用户)<br>• 1TB OneDrive 云存储<br>•
                    Word、Excel、PowerPoint、Outlook、Publisher 和 Access 应用（Publisher 和 Access 仅适用于 Windows PC）<br>•
                    OneNote：附加功能（<a target="_blank"
                        href="https://support.office.com/article/frequently-asked-questions-about-onenote-in-office-2019-6582c7ae-2ec6-408d-8b7a-3ed71a3c2103?ui=en-US&amp;rs=en-US&amp;ad=US"
                        data-m="{&quot;cN&quot;:&quot;因平台而异&quot;,&quot;id&quot;:&quot;-15065010261&quot;}">
                        <font color="#0078d7">因平台而异</font>
                    </a>）<br>• 可在多台电脑/Mac、平板电脑和手机上使用（包括 Windows、iOS 和 Android。iOS 和 Android 需要分别下载应用）<br>•
                    与他人在线协作处理文档</p>
                <p class="d2"></p>
                <div class="promotion">
                    <div class="vector-icon promotionIcon" data-name="promotion"
                        style="width: 20px; height: 20px; line-height: 0; vertical-align: middle; overflow: hidden;">
                        <svg version="1.1" id="promotion_1_" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"
                            enable-background="new 0 0 24 24" xml:space="preserve">
                            <g id="promotion">
                                <g>
                                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FDB813"
                                        d="M17,7c0-2.8-1.8-5-4-5c-0.5,0-1,0.1-1.5,0.4C11,2.1,10.5,2,10,2
			C7.8,2,6,4.2,6,7H4v14h15V7H17z M6.9,7c0-2.3,1.4-4.1,3.1-4.1c0.2,0,0.4,0,0.6,0.1C9.6,3.9,9,5.4,9,7H6.9z M9.9,7
			c0-1.5,0.7-2.9,1.6-3.6c1,0.7,1.6,2,1.6,3.6H9.9z M14,7c0-1.6-0.6-3.1-1.6-4c0.2-0.1,0.4-0.1,0.6-0.1c1.7,0,3.1,1.8,3.1,4.1H14z"></path>
                                </g>
                            </g>
                        </svg></div>
                    <font color="#0078d7">【使用贴士】</font>需在中国大陆因特网运营商环境下激活。<a
                        href="https://www.microsoftstore.com.cn/support-and-help/software-faq/jihuooffice "
                        data-m="{&quot;cN&quot;:&quot;如何激活&quot;,&quot;id&quot;:&quot;-422292761&quot;}">
                        <font color="#0078d7">如何激活</font>
                    </a>
                    <font color="#0078d7">&gt;</font><br>
                    <font color="#0078d7">【购买提示】</font>软件激活密钥不适用微软官方商城退换货政策。此商品一经售出，不予退换。
                </div>
            </div>
        </div>

        <div class="m_wrapper">
            <div class="m_slider_box">
                <ul class="m_img_list swiper-wrapper">
                    <li class="active  swiper-slide">
                        <img src="https://imgazure.microsoftstore.com.cn/medias/QQ2-00009-593Wx390H-1.png?context=bWFzdGVyfGltYWdlc3wzMTQ0NnxpbWFnZS9wbmd8aW1hZ2VzL2gwYy9oYmEvOTkzMjg0NTQ4MjAxNC5wbmd8OTlkOGU2M2NjNzA0YzA1ZjkxYTIxYWUyMWYxMjdiNTUzOGVjMWYzYjFkYWNlM2NlZDAyOGUzYjQwMGZjNjUwMA"
                            alt="Office 365 订阅 - 1年新订或续订">
                    </li>
                    <li class="  swiper-slide">
                        <img src="https://imgazure.microsoftstore.com.cn/medias/qq2-00009-593Wx390H-12.png?context=bWFzdGVyfGltYWdlc3w0NDc2NDZ8aW1hZ2UvcG5nfGltYWdlcy9oZmEvaDk4LzEwMDc2NzIyMjAwNjA2LnBuZ3w4OTM1M2FkYjYyNTZkZDE5NWU0YThmNGVjYmM4ZGU5YzFmMDJlNmIxY2ZhNGQyYTgyOGRmY2Y2NzYxMGQxOTc2"
                            alt="Office 365 订阅 - 1年新订或续订">
                    </li>
                </ul>
                <div class="swiper-pagination"><span class="swiper-pagination-switch"></span><span
                        class="swiper-pagination-switch"></span></div>
            </div>
        </div>
    </div>
</div>